<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-card class="wrap-content" flat>
      <v-sheet class="title">
        <v-img
          :src="require('~/assets/images/update-info/title-content.png')"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="form-group">
        <v-img
          class="mx-auto form-control"
          :src="require('~/assets/images/update-info/input.png')"
          contain
        >
          <input
            v-model="form.name"
            required
            class="name-box"
            type="text"
            maxlength="100"
            placeholder="HỌ TÊN ..."
          />
        </v-img>
        <v-img
          class="mx-auto form-control"
          :src="require('~/assets/images/update-info/input.png')"
          contain
        >
          <input
            v-model="form.phone"
            required
            class="name-box"
            type="text"
            maxlength="11"
            placeholder="SỐ ĐIỆN THOẠI ..."
          />
        </v-img>
        <v-img
          class="mx-auto form-control"
          :src="require('~/assets/images/update-info/input.png')"
          contain
        >
          <input
            v-model="form.email"
            required
            class="name-box"
            type="text"
            placeholder="EMAIL ..."
            maxlength="100"
          />
        </v-img>
      </v-sheet>
      <div v-if="out_off_money" class="alert-info">
        Số lượng thẻ cào hiện tại đã hết cảm ơn bạn đã cập nhật thông tin
      </div>
      <v-sheet class="button" @click="submit">
        <v-img
          :src="require('~/assets/images/update-info/btn-finish.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/update-info/btn-finish-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
      <!-- <v-img
        :src="require('~/assets/images/common/btn-close.png')"
        contain
        class="btn-close"
        @click="close()"
      >
      </v-img> -->
    </v-card>
    <v-sheet class="user-bottom">
      <v-img
        :src="
          require(`~/assets/images/welcome/user-${
            $auth.user.gender === 1 ? 'boy' : 'girl'
          }.png`)
        "
        contain
      ></v-img>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  reactive,
  onMounted,
  useContext,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$storage.setUniversal('prev-path', from.path)
    })
  },
  setup() {
    const { $auth, $axios, redirect, $storage } = useContext()
    const out_off_money = ref(false)

    const form = reactive({
      email: '',
      phone: '',
      name: '',
    })

    if (
      $storage.getUniversal('isUpdated') ||
      ($auth.user &&
        $auth.user.email !== null &&
        $auth.user.phone &&
        $auth.user.name)
    ) {
      redirect('/chon-phong')
    }

    const submit = () => {
      if (form.email === '' || form.phone === '' || form.name === '') {
        alert('Vui lòng nhập đầy đủ thông tin', false)
      } else {
        $axios
          .post('/front/update-info?type=2', form)
          .then((res) => {
            if (res.data?.code === 200) {
              $storage.setUniversal('isUpdated', true)
              if (res.data?.out_off_money) {
                out_off_money.value = true
              }
              setTimeout(() => {
                redirect('/chon-phong')
              }, 3000)
            }
          })
          .catch((err) => {
            const errors = err.response.data.errors
            if (errors.email) {
              alert('Vui lòng nhập đúng email', false)
            } else if (errors.phone[0] === 'The phone format is invalid.') {
              alert('Vui lòng nhập đúng số điện thoại', false)
            } else if (
              errors.phone[0] === 'The phone has already been taken.'
            ) {
              alert(
                'Số điện thoại của bạn bị trùng, vui lòng nhập số điện thoại khác',
                false
              )
            }
          })
      }
    }

    const close = () => {
      const prevPath = $storage.getUniversal('prev-path')
        ? $storage.getUniversal('prev-path')
        : 'chon-phong'
      redirect(prevPath)
    }

    onMounted(() => {
      form.email = $auth.user?.email
      form.name = $auth.user?.name
      form.phone = $auth.user?.phone
    })

    return {
      close,
      form,
      submit,
      out_off_money,
    }
  },
})
</script>

<style lang="scss" scoped>
::-webkit-input-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
.name-box {
  width: 100%;
  position: absolute;
  font-size: 20px;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  color: gray;
  border: none;
  outline: none;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 2vw;
  }
  @media screen and (min-width: 768px) and (max-height: 375px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px 50px;
  }
}
.form-control {
  max-width: 60%;
  margin-bottom: 2%;
}
.full-page {
  background-image: url('~/assets/images/update-info/bg-info.png') !important;
  background-size: 100% 100% !important;
  max-height: 100%;
}
.wrap-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  margin: 0 auto;
  padding-top: 3%;
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 43%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 47%;
  }
  @media screen and (min-width: 1904px) {
    max-width: 60%;
  }
}
.title {
  max-width: 80%;
  margin: 0 auto 5%;
}
.button {
  max-width: 60%;
  margin: 0 auto;
}

.user-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 27%;
}
.btn-close {
  position: absolute;
  width: 6%;
  cursor: pointer;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    top: -7%;
    right: -1%;
  }
  @media screen and (min-width: 768px) and (max-height: 375px) {
    top: 5%;
    right: -20%;
  }
  @media screen and (min-width: 1024px) {
    top: -25%;
    right: -15%;
  }
  @media screen and (min-width: 1200px) {
    top: 4%;
    right: -15%;
  }
  @media screen and (min-width: 1904px) {
    top: 5%;
    right: -8%;
  }
}

.alert-info {
  text-align: center;
  font-size: 0.9em;
  padding: 10px 20px;
  color: #fcd604;
}
</style>
