<template>
  <v-app-bar flat>
    <v-sheet v-if="!isShowBack" :class="{ 'p-logo': !isRank }" class="logo">
      <nuxt-link to="/">
        <v-img :src="require('~/assets/images/logo.png')" contain></v-img>
      </nuxt-link>
    </v-sheet>
    <v-sheet v-if="isShowBack" class="logo-small">
      <nuxt-link to="/chon-phong">
        <v-img
          :src="require('~/assets/images/back.png')"
          contain
          class="back"
        ></v-img>
      </nuxt-link>
    </v-sheet>
    <div v-if="isShowLevel" @click="toggleAudio()">
      <button class="btn-sound" :class="{ active: $store.state.audio.isMuted }"></button>
    </div>

    <v-spacer></v-spacer>

    <v-sheet v-if="isShowLevel" class="d-flex room-header">
      <v-sheet class="number-item">
        <v-img
          :src="require('~/assets/images/rooms/current-level.png')"
          class="img-text"
          contain
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/level.png')"
          class="img-number"
          contain
        >
          <span class="number level">{{ level }}</span>
        </v-img>
      </v-sheet>
      <v-sheet class="number-item">
        <v-img
          :src="require('~/assets/images/rooms/current-coin.png')"
          class="img-text"
          contain
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/coin.png')"
          class="img-number"
          contain
        >
          <span class="number coin">{{ coins }}</span>
        </v-img>
      </v-sheet>
    </v-sheet>
    <v-sheet v-if="isRank" class="rank ml-3" @click="dialogRank = true">
      <v-img :src="require('~/assets/images/home/ranking.png')" contain>
      </v-img>
    </v-sheet>
    <v-dialog v-if="isRank" v-model="dialogRank" fullscreen hide-overlay>
      <ModalBangXepHang @closeModal="dialogRank = $event"></ModalBangXepHang>
    </v-dialog>
  </v-app-bar>
</template>

<script>
import {
  defineComponent,
  useContext,
  computed,
  ref,
  inject,
} from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    isShowLevel: Boolean,
    isShowBack: Boolean,
    isRank: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup({ isShowLevel }) {
    const { store } = useContext()

    const dialogRank = ref(false)
    const btnSound = ref(false)

    const level = computed(() => store.getters['customer/getLevel'])
    const coins = computed(() => store.getters['customer/getCoins'])

    let bgAudio = null
    if (isShowLevel) {
      bgAudio = inject('bgAudio')
    }

    const setStt = () => {
      console.log('1111');
      store.state.audio.isMuted
        ? (btnSound.value = true)
        : (btnSound.value = false)
    }

    const toggleAudio = () => {
      store.commit('audio/setMuted')
      console.log(store.state.audio.isMuted)
      store.state.audio.isMuted ? bgAudio.value.pause() : bgAudio.value.play()
      setStt()
    }

    // computed(() => setStt())

    return {
      level,
      coins,
      dialogRank,
      toggleAudio,
      btnSound,
    }
  },
})
</script>

<style lang="scss" scoped>
.logo {
  width: 90px;
  .v-image {
    width: 100%;
  }
  @media all and (min-width: 768px) {
    width: 125px;
  }
  @media all and (min-width: 960px) {
    width: 160px;
  }
  @media all and (min-width: 1264px) {
    width: 210px;
  }
  @media all and (min-width: 1904px) {
    width: 252px;
  }
}

.rank {
  cursor: pointer;
  width: 90px;
  .v-image {
    width: 100%;
  }
  @media all and (min-width: 768px) {
    width: 150px;
  }
  @media all and (min-width: 1024px) {
    width: 190px;
  }
  @media all and (min-width: 1264px) {
    width: 250px;
  }
  @media all and (min-width: 1904px) {
    width: 355px;
  }
}

.logo-small {
  position: relative;
  left: -2%;
  display: flex;
  align-items: center;

  .back {
    max-width: 60px;
    margin-right: 10px;
    @media screen and (min-width: 768px) and (max-height: 375px) {
      max-width: 40px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 80%;
    }
  }

  .logo-sm {
    max-width: 80px;
    @media screen and (min-width: 1024px) {
      max-width: 60%;
    }
  }
}

.room-header {
  position: relative;
  width: 50%;
  justify-content: flex-end;

  .number-item {
    display: flex;
    max-width: 80px;
    margin-right: 8%;
    &:last-child {
      margin-right: 5%;
    }
    @media all and (min-width: 768px) {
      max-width: 120px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 150px;
      margin-right: 6%;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 5%;
    }
    @media screen and (min-width: 1904px) {
      max-width: 200px;
      margin-right: 4%;
    }
    .img-number {
      position: relative;
      z-index: 2;
      margin-left: -27%;
      max-width: 40%;
      @media screen and (min-width: 1200px) {
        max-width: 42%;
      }
      @media screen and (min-width: 1904px) {
        max-width: 50%;
      }
    }
    .number {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 60%;
      line-height: 1;
      font-weight: bold;
      transform: translate(-50%, -50%);
      @media screen and (min-width: 1024px) {
        font-size: 65%;
      }
      @media screen and (min-width: 1904px) {
        font-size: 90%;
      }
    }
    .level {
      color: #fff;
    }
    .coin {
      background: -webkit-linear-gradient(#ffc400, #b94a00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
}
</style>
