<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/common/bg-misson03.png')"
        class="bg"
      >
      </v-img>
      <v-sheet class="btn-share button">
        <ShareNetwork
          network="facebook"
          url="https://thaidockhongkhi.vn/"
          title="Game City Box mua sắm trang trí nhà cửa - Tổng giá trị giải thưởng lên đến 95,000,000đ. Tham gia ngay! ."
          description="Game City Box mua sắm trang trí nhà cửa - Tổng giá trị giải thưởng lên đến 95,000,000đ. Tham gia ngay! "
          quote="Panasonic"
          hashtags="CityBox,Panasonic| Thải Độc Không Khí"
          @close="submit"
        >
          <v-img
            :src="require('~/assets/images/common/btn-share.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/common/btn-share-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </ShareNetwork>
      </v-sheet>
      <v-img
        :src="require(`~/assets/images/character/${$auth.user.gender === 1 ? 'male' : 'female'}-happy.png`)"
        contain
        class="character"
      ></v-img>
      <v-img
        :src="require('~/assets/images/common/btn-close.png')"
        contain
        class="btn-close"
        @click="$emit('closeModal', false)"
      >
      </v-img>
    </v-sheet>
  </v-sheet>
</template>
<script>
import { defineComponent, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  props: {
    isLevel4: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup({isLevel4}, { emit }) {
    const { $axios, $storage } = useContext()

    const submit = () => {
      $axios.get(`/front/add-coins`).then((res) => {
        if (res.data?.code === 200) {
          $storage.setUniversal('missionDone', true)
          emit('reloadData')
          emit('closeModal', false)
        }
      })
    }


    return {
      submit,
    }
  },
})
</script>
<style lang="scss" scoped>
.popup {
  max-width: 70%;
}
.full-page {
  position: relative;
  .btn-share {
    max-width: 30%;
    position: absolute;
    bottom: -0.1%;
    right: 38%;
  }
  .btn-close {
    position: absolute;
    width: 5%;
    top: 6%;
    right: 1%;
    cursor: pointer;
  }
  .character {
    width: 18%;
    position: absolute;
    bottom: -18%;
    left: -5%;
  }
}
</style>
