<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-sheet class="content">
        <!-- eslint-disable vue/no-v-html -->
        <v-sheet class="text" v-html="data">
        </v-sheet>
        <v-img
          :src="require('~/assets/images/warning/warning-success.png')"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="list-button">
        <v-img
          :src="require('~/assets/images/buttons/btn-continue-shadow.png')"
          contain
          class="btn btn-cancel"
          @click="$emit('closeModal', false)"
        ></v-img>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  props: {
    data: {
      type: String,
      required: true
    }
  },
  setup() {},
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/warning/bg-warning.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.popup {
  position: absolute;
  top: 50%;
  left: 35%;
  max-width: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 47%;
  }
  .text {
    position: absolute;
    max-width: 65%;
    left: 48%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    z-index: 1;
    font-size: 22px;
    @media screen and (max-width: 1199px){
      font-size: 2vw;
    }
    span {
      color: #FCD604;
    }
  }
}
.list-button {
  position: absolute;
  bottom: 5.6%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
  .btn {
    cursor: pointer;
  }
  .btn-cancel {
    z-index: 2;
  }
}
</style>
