<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-img
        :src="require(`~/assets/images/warning/warning-cancel${ $auth.user.gender === 1 ? '' : '-female'}.png`)"
        contain
        class="popup__content"
      ></v-img>
      <v-sheet class="list-button">
        <v-img
          :src="require('~/assets/images/buttons/btn-play-again.png')"
          contain
          class="btn btn-play-again"
          @click="$emit('playAgain')"
        ></v-img>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {},
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/warning/bg-warning.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.popup {
  position: absolute;
  top: 50%;
  left: 35%;
  max-width: 45%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  &__content {
    @media screen and (min-width: 1904px){
      margin-bottom: -3%;
    }
  }
}
.list-button {
  position: absolute;
  bottom: 26%;
  left: 17%;
  max-width: 44%;
  .btn {
    cursor: pointer;
  }
}
</style>
