<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-sheet class="title-solution">
        <v-img
          :src="require('~/assets/images/air-warning/air-warning.png')"
          contain
          class="img-solution"
        ></v-img>
        <v-sheet v-html="des" class="des"></v-sheet>
      </v-sheet>
      <v-sheet class="list-choose">
        <v-sheet class="item-choose" :class="{ active: currentIndex === 3 }">
          <v-sheet class="button" @click="submit(3)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 3 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv2_1.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Hỗ trợ lưu thông không khí, tăng cường khí 02 cho phòng</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc1 }}</v-sheet>
            <span class="name-solution"
              >Hỗ trợ lưu thông không khí, tăng cường khí 02 cho phòng</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 4 }">
          <v-sheet class="button" @click="submit(4)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 4 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv2_2.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Khử mùi, tạo ẩm, điều hoà không khí</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc2 }}</v-sheet>
            <span class="name-solution"
              >Khử mùi, tạo ẩm, điều hoà không khí</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 5 }">
          <v-sheet class="button" @click="submit(5)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 5 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv2_3.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Tạo hương thơm</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc3 }}</v-sheet>
            <span class="name-solution">Tạo hương thơm</span>
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
      </v-sheet>

      <v-sheet class="alert-error" :class="{ show: error }">{{
        textError
      }}</v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  reactive,
  useAsync,
  useContext,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup(_, { emit }) {
    const { $axios } = useContext()
    const des = ref(
      'Không gian phòng ngủ có nồng độ CO2 cao gây khó ngủ, không sâu giấc.<br> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
    )

    const currentIndex = ref(null)
    const currentWrong = ref(null)
    const solutionsDesc = reactive({
      desc1: '',
      desc2: '',
      desc3: '',
    })

    const error = ref(false)
    const textError = ref('')

    const count = ref(0)

    const submit = async (answerId) => {
      if (count.value < 2) {
        currentIndex.value = answerId
        await $axios
          .post('front/solutions/check', { answer_id: answerId })
          .then((res) => {
            if (res.status === 200) {
              if (res.data === 0) {
                count.value++
                error.value = true
                textError.value =
                  'Phòng ngủ vẫn còn ngột ngạt do nồng độ khí CO2 cao. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                currentWrong.value = answerId
                setTimeout(() => {
                  if (count.value === 2) {
                    des.value =
                      '<span style="color: #FCD604;">Bạn đã hết 2 lượt chọn giải pháp hãy tiếp tục mua sắm vật dụng tiếp theo</span>'
                    emit('updateSolution', 0)
                    setTimeout(() => {
                      error.value = false
                      count.value = 0
                      currentWrong.value = null
                      setTimeout(() => {
                        des.value =
                          'Không gian phòng ngủ có nồng độ CO2 cao gây khó ngủ, không sâu giấc.<br> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
                      }, 500)
                    }, 1000)
                  }
                }, 2000)
              } else {
                error.value = false
                emit(
                  'updateSolution',
                  '<p><span style="color: #FCD604;">Chính xác!</span><br/> Quạt hút FV-17CU8 <span style="color: #FCD604;">có độ ồn thấp chỉ 23dB,</span> hỗ trợ lưu thông không khí, giảm nồng độ CO2, nhờ đó khí Oxi tươi được tăng cường, giúp bạn ngủ ngon sâu giấc.</p>'
                )
              }
            }
          })
      }
    }

    useAsync(async () => {
      await $axios.get('front/solutions/2').then((res) => {
        if (res.data?.code === 200) {
          const result = res.data?.data.record
          solutionsDesc.desc1 = result[0].name
          solutionsDesc.desc2 = result[1].name
          solutionsDesc.desc3 = result[2].name
        }
      })
    })

    return {
      submit,
      currentIndex,
      currentWrong,
      solutionsDesc,
      error,
      textError,
      des,
    }
  },
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/air-warning/bg-virus.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 65%;
  width: 65%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 55%;
  }
}

.title {
  margin: 0 auto 5%;
  max-width: 75%;
}

.list-choose {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;

  .item-choose {
    position: relative;
    width: 33.33%;

    .user {
      position: absolute;
      left: -10%;
      bottom: 0;
      display: none;
      max-width: 15%;
    }

    .product-item {
      max-width: 60%;
    }

    .name-product {
      font-size: 0.8vw;
    }

    &.active {
      .button {
        .btn-img {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        .btn-img-shadow {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }

      .user {
        display: block;
      }
    }
  }
}
</style>
