<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-sheet class="title-solution">
        <v-img
          :src="require('~/assets/images/air-warning/air-warning.png')"
          contain
          class="img-solution"
        ></v-img>
        <v-sheet v-html="des" class="des"></v-sheet>
      </v-sheet>

      <v-sheet class="list-choose">
        <v-sheet class="item-choose" :class="{ active: currentIndex === 10 }">
          <v-sheet class="button" @click="submit(10)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 10 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv4_1.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Hút khí tù đọng, mùi hôi, hơi ẩm ra bên ngoài</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc1 }}</v-sheet>
            <span class="name-solution"
              >Hút khí tù đọng, mùi hôi, hơi ẩm ra bên ngoài</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 11 }">
          <v-sheet class="button" @click="submit(11)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 11 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv4_2.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Tạo hương thơm, khử mùi tạm thời</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc2 }}</v-sheet>
            <span class="name-solution">Tạo hương thơm, khử mùi tạm thời</span>
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
      </v-sheet>
      <div class="list-choose">
        <v-sheet class="item-choose" :class="{ active: currentIndex === 12 }">
          <v-sheet class="button" @click="submit(12)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 12 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv4_3.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Làm ấm không khí trong phòng</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc3 }}</v-sheet>
            <span class="name-solution">Làm ấm không khí trong phòng</span>
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 13 }">
          <v-sheet class="button" @click="submit(13)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 13 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv4_4.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Sưởi ấm (và) duy trì độ ẩm trong không gian</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc4 }}</v-sheet>
            <span class="name-solution"
              >Sưởi ấm (và) duy trì độ ẩm trong không gian</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 14 }">
          <v-sheet class="button" @click="submit(14)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 14 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv4_5.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Tăng và duy trì độ ẩm trong không khí</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc5 }}</v-sheet>
            <span class="name-solution"
              >Tăng và duy trì độ ẩm trong không khí</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
      </div>

      <v-sheet class="alert-error" :class="{ show: error }">{{
        textError
      }}</v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  reactive,
  useAsync,
  useContext,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup(_, { emit }) {
    const { $axios } = useContext()

    const des = ref(
      'Không gian phòng khách bí bách, nồng độ CO2 cao gây ngột ngạt và có mùi ẩm mốc.<br /> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
    )

    const currentIndex = ref(null)
    const currentWrong = ref(null)
    const solutionsDesc = reactive({
      desc1: '',
      desc2: '',
      desc3: '',
      desc4: '',
      desc5: '',
    })

    const error = ref(false)
    const textError = ref('')

    const count = ref(0)

    const submit = async (answerId) => {
      if (count.value < 2) {
        currentIndex.value = answerId
        await $axios
          .post('front/solutions/check', { answer_id: answerId })
          .then((res) => {
            if (res.status === 200) {
              if (res.data === 0) {
                count.value++
                error.value = true
                if (answerId === 11) {
                  textError.value =
                    'Xịt phòng chỉ khử mùi tạm thời. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                } else if (answerId === 12) {
                  textError.value =
                    'Máy sưởi làm ấm nhưng không khí cũ vẫn tồn đọng gây ngột ngạt. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                } else if (answerId === 13) {
                  textError.value =
                    'Quạt sưởi làm ấm nhưng không khí cũ vẫn tồn đọng gây ngột ngạt. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                } else if (answerId === 14) {
                  textError.value =
                    'Cung cấp độ ẩm nhưng không khí ngột ngạt, chưa được lưu thông. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                }
                currentWrong.value = answerId
                setTimeout(() => {
                  if (count.value === 2) {
                    des.value =
                      '<span style="color: #FCD604;">Bạn đã hết 2 lượt chọn giải pháp hãy tiếp tục mua sắm vật dụng tiếp theo</span>'
                    emit('updateSolution', 0)
                    setTimeout(() => {
                      error.value = false
                      count.value = 0
                      currentWrong.value = null
                      setTimeout(() => {
                        des.value =
                          'Không gian phòng khách bí bách, nồng độ CO2 cao gây ngột ngạt và có mùi ẩm mốc.<br /> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
                      }, 500)
                    }, 1000)
                  }
                }, 2000)
              } else {
                error.value = true
                emit(
                  'updateSolution',
                  '<p><span style="color: #FCD604;">Chính xác!</span><br/> Quạt hút FV-20CUT1 hút mùi ẩm mốc, CO2 ra bên ngoài, nhờ đó khí oxi tươi tràn vào. <span style="color: #FCD604;">Quạt vận hành êm ái, lưu lượng gió lớn</span> đem đến không gian sinh hoạt thoải mái.</p>'
                )
              }
            }
          })
      }
    }

    useAsync(async () => {
      await $axios.get('front/solutions/4').then((res) => {
        if (res.data?.code === 200) {
          const result = res.data?.data.record
          solutionsDesc.desc1 = result[0].name
          solutionsDesc.desc2 = result[1].name
          solutionsDesc.desc3 = result[2].name
          solutionsDesc.desc4 = result[3].name
          solutionsDesc.desc5 = result[4].name
        }
      })
    })

    return {
      submit,
      currentIndex,
      currentWrong,
      solutionsDesc,
      error,
      textError,
      des,
    }
  },
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/air-warning/bg-virus.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 75%;
  width: 60%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.list-choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 75%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 75%;
  }
  @media screen and (min-width: 1904px) {
    max-width: 100%;
  }

  .item-choose {
    position: relative;
    width: 33.33%;

    .user {
      position: absolute;
      left: -10%;
      bottom: 0;
      display: none;
      max-width: 15%;
    }

    .product-item {
      max-width: 60%;
    }

    .name-product {
      font-size: 0.65vw;
    }

    &.active {
      .button {
        .btn-img {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        .btn-img-shadow {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }

      .user {
        display: block;
      }
    }
  }
}
</style>
