<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-sheet class="title-solution">
        <v-img
          :src="require('~/assets/images/air-warning/air-warning.png')"
          contain
          class="img-solution"
        ></v-img>
        <v-sheet v-html="des" class="des"></v-sheet>
      </v-sheet>

      <v-sheet class="list-choose">
        <v-sheet class="item-choose" :class="{ active: currentIndex === 6 }">
          <v-sheet class="button" @click="submit(6)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 6 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv3_1.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Hút mùi và khói trong quá trình nấu ăn</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc1 }}</v-sheet>
            <span class="name-solution"
              >Hút mùi và khói trong quá trình nấu ăn</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 7 }">
          <v-sheet class="button" @click="submit(7)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 7 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv3_2.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Khử mùi hôi</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc2 }}</v-sheet>
            <span class="name-solution">Khử mùi hôi</span>
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
      </v-sheet>
      <div class="list-choose">
        <v-sheet class="item-choose" :class="{ active: currentIndex === 8 }">
          <v-sheet class="button" @click="submit(8)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 8 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv3_3.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Tăng độ ẩm cho không khí trong phòng</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc3 }}</v-sheet>
            <span class="name-solution"
              >Tăng độ ẩm cho không khí trong phòng</span
            >
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="item-choose" :class="{ active: currentIndex === 9 }">
          <v-sheet class="button" @click="submit(9)">
            <v-img
              :src="
                require(`~/assets/images/air-warning/${
                  currentWrong === 9 ? 'bg-item-error' : 'bg-item-hover'
                }.png`)
              "
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require(`~/assets/images/air-warning/bg-item.png`)"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-sheet class="product-item">
              <v-img
                :src="require('~/assets/images/air-warning/lv3_4.png')"
                contain
                class="product-image"
              ></v-img>
              <!-- <v-sheet class="product-info">Diệt khuẩn, khử mùi</v-sheet> -->
            </v-sheet>
            <v-sheet class="name-product">{{ solutionsDesc.desc4 }}</v-sheet>
            <span class="name-solution">Diệt khuẩn, khử mùi</span>
          </v-sheet>
          <v-sheet class="user">
            <v-img
              :src="
                require(`~/assets/images/air-warning/user-${
                  $auth.user.gender === 1 ? 'men' : 'girl'
                }.png`)
              "
              contain
              class="img-user"
            ></v-img>
          </v-sheet>
        </v-sheet>
      </div>

      <v-sheet class="alert-error" :class="{ show: error }">{{
        textError
      }}</v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  reactive,
  useAsync,
  useContext,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup(_, { emit }) {
    const { $axios } = useContext()

    const des = ref(
      'Không gian phòng bếp ngập mùi đồ ăn và khói.<br> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
    )
    const currentIndex = ref(null)
    const currentWrong = ref(null)
    const solutionsDesc = reactive({
      desc1: '',
      desc2: '',
      desc3: '',
      desc4: '',
    })

    const error = ref(false)
    const textError = ref('')

    const count = ref(0)

    const submit = async (answerId) => {
      if (count.value < 2) {
        currentIndex.value = answerId
        await $axios
          .post('front/solutions/check', { answer_id: answerId })
          .then((res) => {
            if (res.status === 200) {
              if (res.data === 0) {
                count.value++
                error.value = true
                if (answerId === 7) {
                  textError.value =
                    'Sáp thơm chưa giải quyết vấn đề không khí trong phòng bếp. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                } else if (answerId === 8) {
                  textError.value =
                    'Máy phun sương giúp không khí dễ chịu nhưng  vẫn còn mùi. Hãy tìm giải pháp giải quyết tất cả vấn đề trong phòng.'
                } else if (answerId === 9) {
                  textError.value =
                    'Máy khử trùng diệt vi khuẩn, nấm mốc nhưng phòng vẫn đầy khói. Hãy chọn giải pháp phù  hợp cho căn phòng của bạn!'
                }
                currentWrong.value = answerId
                setTimeout(() => {
                  if (count.value === 2) {
                    des.value =
                      '<span style="color: #FCD604;">Bạn đã hết 2 lượt chọn giải pháp hãy tiếp tục mua sắm vật dụng tiếp theo</span>'
                    emit('updateSolution', 0)
                    setTimeout(() => {
                      error.value = false
                      count.value = 0
                      currentWrong.value = null
                      setTimeout(() => {
                        des.value =
                          'Không gian phòng bếp ngập mùi đồ ăn và khói.<br> Hãy chọn giải pháp phù hợp để giải quyết vấn đề của căn phòng.'
                      }, 500)
                    }, 1000)
                  }
                }, 2000)
              } else {
                error.value = false
                emit(
                  'updateSolution',
                  '<p><span style="color: #FCD604;">Chính xác!</span><br/> Quạt hút FV-25AUF1 hút mùi và khói khi nấu ăn giúp không gian bếp thông thoáng, <span style="color: #FCD604;">khay chứa dầu dễ dàng vệ sinh.</span></p>'
                )
              }
            }
          })
      }
    }

    useAsync(async () => {
      await $axios.get('front/solutions/3').then((res) => {
        if (res.data?.code === 200) {
          const result = res.data?.data.record
          solutionsDesc.desc1 = result[0].name
          solutionsDesc.desc2 = result[1].name
          solutionsDesc.desc3 = result[2].name
          solutionsDesc.desc4 = result[3].name
        }
      })
    })

    return {
      submit,
      currentIndex,
      currentWrong,
      solutionsDesc,
      error,
      textError,
      des,
    }
  },
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/air-warning/bg-virus.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 60%;
  width: 60%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 55%;
  }
}

.title {
  margin: 0 auto 5%;
  max-width: 75%;
}

.list-choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;

  .item-choose {
    position: relative;
    width: 33.33%;

    .product-item {
      max-width: 60%;
    }

    .name-product {
      font-size: 0.8vw;
    }

    .user {
      position: absolute;
      left: -10%;
      bottom: 0;
      display: none;
      max-width: 15%;
    }

    &.active {
      .button {
        .btn-img {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        .btn-img-shadow {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }

      .user {
        display: block;
      }
    }
  }
}
</style>
