<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/popups/popup-login.png')"
        contain
      ></v-img>
      <v-sheet class="button" @click="$emit('loginWithFb')">
        <v-img
          :src="require('~/assets/images/buttons/btn-login.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-login-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {},
})
</script>

<style lang="scss" scoped>
.popup {
  max-width: 50%;
}
.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 45%;
  margin: 0 auto;
  bottom: 9.3%;
}
</style>


