<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/common/bg-misson02.png')"
        contain
        class="bg"
      >
        <v-img
          :src="require('~/assets/images/common/video.png')"
          contain
          class="misson-video"
        >
        </v-img>
        <video
          id="video"
          ref="missonVideo"
          :src="require('~/assets/video/mission_2_new.mp4')"
          width="400"
          class="real-video"
        ></video>
        <v-img
          v-if="flag"
          :src="require('~/assets/images/common/btn-play.png')"
          class="btn-play"
          contain
          @click="play()"
        ></v-img>
      </v-img>
      <v-sheet class="character">
        <v-img
          :src="require(`~/assets/images/character/${$auth.user.gender === 1 ? 'male' : 'female'}-curious.png`)"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet v-if="isShow" class="btn-finish button" @click="submit()">
        <v-img
          :src="require('~/assets/images/common/btn-finish.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/common/btn-finish-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
      <v-img
        :src="require('~/assets/images/common/btn-close.png')"
        contain
        class="btn-close"
        @click="close()"
      >
      </v-img>
    </v-sheet>
  </v-sheet>
</template>
<script>
import { defineComponent, ref, useContext, inject } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
    props: {
    isLevel4: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  setup({isLevel4}, { emit }) {
    const { $axios, $storage, store } = useContext()
    const missonVideo = ref(null)
    const isShow = ref(false)

    const flag = ref(true)

    // eslint-disable-next-line no-unused-vars
    let myTimeout;

    const bgAudio = inject('bgAudio')

    const play = () => {
      bgAudio.value.pause()
      missonVideo.value.play()
      flag.value = false
      myTimeout = setTimeout(() => {
        isShow.value = true
      }, 20000)
    }

    const close = () => {
      if(isLevel4) {
        flag.value = true
        isShow.value = false
      }
      emit('closeModal', false)
      missonVideo.value.currentTime = 0
      missonVideo.value.pause()
      if(!store.state.audio.isMuted) {
        bgAudio.value.play()
      }
      flag.value = true
      isShow.value = false
      clearTimeout(myTimeout)
    }

    const submit = () => {
      if(isLevel4) {
        emit('activeModalMission03', true)
        emit('closeModal', false)
        flag.value = true
        isShow.value = false
        missonVideo.value.pause()
        bgAudio.value.play()
      } else {
        $axios.get(`/front/add-coins`).then((res) => {
          if (res.data?.code === 200) {
            $storage.setUniversal('missionDone', true)
            emit('reloadData')
            emit('closeModal', false)
            missonVideo.value.currentTime = 0
            missonVideo.value.pause()
            if(!store.state.audio.isMuted) {
              bgAudio.value.play()
            }
            flag.value = true
            isShow.value = false
            clearTimeout(myTimeout)
          }
        })
      }
    }

    return {
      isShow,
      missonVideo,
      play,
      flag,
      submit,
      close,
    }
  },
})
</script>
<style lang="scss" scoped>
.popup {
  left: calc(50% - 3%);
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 70%;
  }
  @media screen and (max-height: 370px) and (orientation: landscape) {
    max-width: 60%;
  }
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 56%;
  }
  @media screen and (min-width: 1200px){
    max-width: 48%;
  }
@media screen and (min-width: 1800px){
    max-width: 60%;
  }
}
.real-video {
  position: absolute;
  top: 30%;
  left: calc(50% + 1px);
  width: 71.9%;
  transform: translateX(-50%);
}
.full-page {
  position: relative;
  .misson-video {
    width: 74%;
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn-play {
    width: 9%;
    position: absolute;
    bottom: 34%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .btn-finish {
    max-width: 35%;
    position: absolute;
    left: 54%;
    bottom: -8.8%;
    transform: translateX(-50%);
  }
  .character {
    width: 15%;
    position: absolute;
    bottom: -22%;
    left: -8%;
  }
  .btn-close {
    position: absolute;
    width: 5%;
    top: 5%;
    right: 1%;
    cursor: pointer;
  }
}
</style>
