<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup" :class="level === 3 ? 'popup-level3' : ''">
      <v-img
        :src="
          require(`~/assets/images/common/${
            level === 3 ? 'bg-misson013.png' : 'bg-misson01.png'
          }`)
        "
        class="bg"
      >
      </v-img>
      <v-sheet class="character">
        <v-img
          :src="
            require(`~/assets/images/character/${
              $auth.user.gender === 1 ? 'male' : 'female'
            }-curious.png`)
          "
        >
        </v-img>
      </v-sheet>
      <!-- eslint-disable vue/no-v-html -->
      <div class="choose-text" v-if="countAsnwer !== 2">Chọn đúng đáp án để nhận <span>300 COINS</span></div>
      <div class="question" v-html="question"></div>
      <v-sheet
        class="machine"
        :class="level === 3 ? 'machine-level3' : ''"
        v-if="countAsnwer !== 2"
      >
        <v-img
          v-for="(item, index) in answers"
          :key="index"
          :src="
            require(`~/assets/images/common/${
              currentAnswer === index ? btnAnswer : 'btn-answer'
            }.png`)
          "
          contain
          class="btn-machine"
          @click="chooseAnswer(index)"
        >
          <div class="text" :class="level === 3 ? 'text-level3' : ''">
            {{ item }}
          </div>
        </v-img>
        <!--        <v-img-->
        <!--          class="hand"-->
        <!--          :src="require('~/assets/images/common/hand.png')"-->
        <!--          contain-->
        <!--          :style="handPosition"-->
        <!--        ></v-img>-->
      </v-sheet>

      <v-sheet
        class="alert-error"
        :class="{ show: error, alert_center: countAsnwer === 2 }"
        >{{ textError }}</v-sheet>

      <v-sheet
        v-if="btnAnswer === 'btn-answer-shadow' && countAsnwer < 2"
        class="btn-finish button"
        @click="submit()"
      >
        <v-img
          :src="require('~/assets/images/buttons/btn-confirm.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-confirm-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
      <v-sheet
        v-if="btnAnswer === 'btn-correct'"
        class="btn-finish button"
        @click="close(), (btnAnswer = 'btn-answer-shadow')"
      >
        <v-img
          :src="require('~/assets/images/buttons/btn-next-white.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-next-white-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
      <v-sheet
        v-if="btnAnswer === 'btn-wrong' || countAsnwer >= 2"
        class="btn-finish button"
        @click="resetRoom"
      >
        <v-img
          :src="require('~/assets/images/buttons/btn-return.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-return-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
      <v-img
        v-if="btnAnswer === 'btn-answer-shadow'"
        :src="require('~/assets/images/common/btn-close.png')"
        contain
        class="btn-close"
        @click="$emit('closeModal', false), (btnAnswer = 'btn-answer-shadow')"
      >
      </v-img>
    </v-sheet>
  </v-sheet>
</template>
<script>
import {
  defineComponent,
  useContext,
  useAsync,
  ref,
  computed,
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  props: {
    isLevel4: {
      type: Boolean,
      required: false,
      default: false,
    },
    level: {
      type: Number,
      required: false,
      default: 1,
    },
  },
  setup({ isLevel4, level }, { emit }) {
    const { $axios, $storage } = useContext()

    const answers = ref([])

    const question = ref('')

    const currentAnswer = ref(-1)

    const correctAnswer = ref(0)

    const countAsnwer = ref(0)

    const error = ref(false)
    const textError = ref('')

    const chooseAnswer = (i) => {
      if (countAsnwer.value < 2) currentAnswer.value = i
    }

    const btnAnswer = ref('btn-answer-shadow')

    const submit = () => {
      if (currentAnswer.value === correctAnswer.value) {
        question.value =
          'Chúc mừng bạn đã chọn đúng đáp án!<br>Bạn có thêm <b style="color:#f7d30b">300 COINS</b>, hãy tiếp tục mua sắm trang trí căn phòng nào!'
        error.value = false
        btnAnswer.value = 'btn-correct'
        error.value = true
        if (level === 1) {
          textError.value =
            'Quạt hút hút hơi ẩm, khí tù đọng, mùi hôi ra bên ngoài hỗ trợ lưu thông và thải độc không khí.'
        } else if (level === 3) {
          textError.value =
            'Vì góc phòng là nơi tụ khí nhiều nhất, lắp ở vị trí này quạt hút có thể phát huy tối đa hiệu quả.'
        }
        if (!isLevel4) {
          $axios.get(`/front/add-coins`).then((res) => {
            if (res.data?.code === 200) {
              $storage.setUniversal('missionDone', true)
              emit('reloadData')
            }
          })
        }
      } else {
        error.value = true
        if (level === 1) {
          if (currentAnswer.value === 1) {
            textError.value =
              'Thực tế, quạt hơi nước giúp không khí trong phòng trở nên mát hơn, chứ không thải độc không khí.'
          } else if (currentAnswer.value === 2) {
            textError.value =
              'Quạt hút hút hơi ẩm, khí tù đọng, mùi hôi ra bên ngoài hỗ trợ lưu thông và thải độc không khí.'
          }
        } else if (level === 3) {
          if (currentAnswer.value === 0) {
            textError.value =
              'Thực tế, điều hoà có tác dụng thay đổi nhiệt độ không khí chứ không lưu thông không khí.'
          } else if (currentAnswer.value === 2) {
            textError.value =
              'Vì góc phòng là nơi tụ khí nhiều nhất, lắp ở vị trí này quạt hút có thể phát huy tối đa hiệu quả.'
          }
        }

        if (countAsnwer.value === 0) {
          question.value =
            'Rất tiếc đáp án của bạn chưa chính xác! <br>Hãy cố gắng chọn đúng đáp án để nhận thêm 300 COINS.'
        } else {
          question.value =
            'Rất tiếc đáp án của bạn chưa chính xác! <br>Căn phòng sẽ quay lại trạng thái ban đầu.'
        }

        btnAnswer.value = 'btn-wrong'
        countAsnwer.value++
        if (countAsnwer.value < 2) {
          setTimeout(() => {
            btnAnswer.value = 'btn-answer-shadow'
          }, 1000)
        }
      }
    }

    const resetRoom = () => {
      error.value = false
      currentAnswer.value = 0
      countAsnwer.value = 0
      btnAnswer.value = 'btn-answer-shadow'
      emit('resetRoom')
      emit('closeModal', false)
      fetchInitData()
    }

    const close = () => {
      if (isLevel4) {
        emit('activeModalMission02', true)
      }
      error.value = false
      currentAnswer.value = 0
      countAsnwer.value = 0
      emit('closeModal', false)
      fetchInitData()
    }

    const handPosition = computed(() => {
      let position = ''
      switch (currentAnswer.value) {
        case 0:
          position = 'top: 10%'
          break
        case 1:
          position = 'top: 35%'
          break
        case 2:
          position = 'top: 60%'
          break
        case 3:
          position = 'top: 85%'
          break
        default:
          position = 'top: 10%'
      }

      return position
    })

    const fetchInitData = async () => {
      await $axios.get(`admin/settings`).then(({ data }) => {
        if (data.code === 200) {
          const record = data.data?.records
          const misson01 =
            level === 1
              ? JSON.parse(record.misson01)
              : JSON.parse(record.misson03)
          correctAnswer.value = misson01.correct_answer
          answers.value = [misson01.answer1, misson01.answer2, misson01.answer3]

          question.value = misson01.question
        }
      })
    }

    useAsync(async () => {
      await fetchInitData()
    })

    return {
      submit,
      close,
      answers,
      question,
      currentAnswer,
      chooseAnswer,
      handPosition,
      btnAnswer,
      countAsnwer,
      resetRoom,
      error,
      textError,
    }
  },
})
</script>
<style lang="scss" scoped>
.popup {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 70%;
  }
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 60%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 60%;
  }
}

.full-page {
  position: relative;
  font-size: 1vw;
  line-height: 1.3;
  .choose-text {
    width: 58%;
    color: #01f7ff;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    span{
      color: #ffd800;
    }
  }

  .alert-error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 56%;
    font-size: 1.1vw;
    &.alert_center {
      bottom: 44%;
    }
  }
  .machine-level3 {
    left: 34% !important;
    top: 34% !important;
    width: 35% !important;
  }
  .machine {
    position: absolute;
    left: 38%;
    top: 40%;
    width: 23%;
    .hand {
      position: absolute;
      width: 15%;
      z-index: 2;
      right: -5%;
    }
    .btn-machine {
      cursor: pointer;
      .text-level3 {
        width: 77% !important;
        margin: 0 auto;
      }
      .text {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 0 5px 5px 5px;
        text-align: center;
        font-size: 0.9em;
      }
    }
  }
  .popup-level3 {
    .question {
      top: 28%;
    }
  }
  .question {
    width: 58%;
    color: #fff;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn-finish {
    max-width: 35%;
    position: absolute;
    bottom: -9.8%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .btn-close {
    position: absolute;
    width: 5%;
    top: 7%;
    right: 1%;
    cursor: pointer;
  }
  .character {
    width: 10%;
    position: absolute;
    bottom: -3%;
    left: 10%;
  }
}
</style>
