<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/warning/warning.png')"
        contain
      ></v-img>
      <v-sheet class="list-button">
        <v-img
          :src="require('~/assets/images/buttons/btn-solution.png')"
          contain
          class="btn btn-solution"
          @click="$emit('activeModalSolution')"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-cancel.png')"
          contain
          class="btn btn-cancel"
          @click="$emit('closeModal', false)"
        ></v-img>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {},
})
</script>

<style lang="scss" scoped>
.full-page {
  position: relative;
  background-image: url('~/assets/images/warning/bg-warning.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.popup {
  position: absolute;
  top: 50%;
  left: 35%;
  max-width: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.list-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 62%;
  .btn {
    cursor: pointer;
  }
  .btn-solution {
    margin-bottom: -18%;
  }
  .btn-cancel {
    z-index: 2;
  }
}
</style>
