<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/popups/popup-money.png')"
        contain
      ></v-img>
      <v-sheet class="close-modal">
        <v-img
          :src="require('~/assets/images/buttons/btn-close.png')"
          contain
          class="btn-close"
          @click="$emit('closeModal', false)"
        ></v-img>
      </v-sheet>
      <v-sheet class="button" @click="$emit('activeModalMission')">
        <v-img
          :src="require('~/assets/images/buttons/btn-doing.png')"
          contain
          class="btn-img"
        ></v-img>
        <v-img
          :src="require('~/assets/images/buttons/btn-doing-shadow.png')"
          contain
          class="btn-img-shadow"
        ></v-img>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {defineComponent} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {},
})
</script>

<style lang="scss" scoped>
.popup {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 100%;
  }
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 70%;
  }
  @media screen and (min-width: 1200px){
    max-width: 70%;
  }
  @media screen and (min-width: 1904px){
    max-width: 50%;
  }
}
.close-modal {
  max-width: 5%;
  position: absolute;
  top: 29%;
  right: 12%;
  cursor: pointer;
}
.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 45%;
  margin: 0 auto;
  bottom: 12.5%;
}
</style>


