<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/popups/popup-level-up-02.png')"
        contain
      ></v-img>
      <v-sheet class="button">
        <nuxt-link to="/cap-nhat-thong-tin">
          <v-img
            :src="require('~/assets/images/buttons/btn-next-white.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/buttons/btn-next-white-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </nuxt-link>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {},
})
</script>

<style lang="scss" scoped>
.popup {
  max-width: 80%;
  @media screen and (min-width: 1200px){
    max-width: 70%;
  }
}
.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 25%;
  margin: 0 auto;
  bottom: 14%;
}
</style>
