@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-GothamLight.eot');
  src: url('~/assets/fonts/SVN-GothamLight.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/SVN-GothamLight.woff2') format('woff2'),
  url('~/assets/fonts/SVN-GothamLight.woff') format('woff'),
  url('~/assets/fonts/SVN-GothamLight.ttf') format('truetype'),
  url('~/assets/fonts/SVN-GothamLight.svg#SVN-GothamLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-Gotham.eot');
  src: url('~/assets/fonts/SVN-Gotham.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/SVN-Gotham.woff2') format('woff2'),
  url('~/assets/fonts/SVN-Gotham.woff') format('woff'),
  url('~/assets/fonts/SVN-Gotham.ttf') format('truetype'),
  url('~/assets/fonts/SVN-Gotham.svg#SVN-Gotham') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-GothamBold.eot');
  src: url('~/assets/fonts/SVN-GothamBold.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/SVN-GothamBold.woff2') format('woff2'),
  url('~/assets/fonts/SVN-GothamBold.woff') format('woff'),
  url('~/assets/fonts/SVN-GothamBold.ttf') format('truetype'),
  url('~/assets/fonts/SVN-GothamBold.svg#SVN-GothamBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LCD AT&T Phone Time/Date';
  src: url('~/assets/fonts/LCDATTPhoneTimeDate.eot');
  src: url('~/assets/fonts/LCDATTPhoneTimeDate.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/LCDATTPhoneTimeDate.woff2') format('woff2'),
  url('~/assets/fonts/LCDATTPhoneTimeDate.woff') format('woff'),
  url('~/assets/fonts/LCDATTPhoneTimeDate.ttf') format('truetype'),
  url('~/assets/fonts/LCDATTPhoneTimeDate.svg#LCDAT&TPhoneTimeDate') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
