@import 'fonts';

/* Let's get this party started */

body {
  font-family: 'SVN-Gotham', sans-serif;
  font-size: 25px;
  line-height: 1.2;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toastify {
  padding-top: 8px;
  font-size: 16px;
  line-height: 1;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

@media screen and (max-width: 1599px) {
  .card-container {
    max-width: 960px !important;
  }
}

.v-sheet {
  &.w-100-percent {
    width: 100% !important;
  }
}

//button
.button {
  max-width: 100%;
  cursor: pointer;
  margin: 0 -10px;

  @media screen and (min-width: 768px) {
    margin: 0 -30px;
  }

  .btn-img,
  .btn-img-selected {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    .btn-img {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    .btn-img-shadow {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.v-sheet,
.v-card {
  background: transparent !important;
}

header {
  .v-toolbar__content {
    height: auto !important;
    padding: 1% 2%;
  }
}

.v-app-bar {
  position: absolute !important;
  width: 100% !important;
  z-index: 10;

  .rank {
    span {
      font-size: 14px;
      color: white;
      position: relative;
      left: 14px;
    }
  }
}

.v-main {
  background: rgb(251, 252, 255);
  background: linear-gradient(
    149deg,
    rgba(251, 252, 255, 1) 0%,
    rgba(70, 105, 254, 1) 25%,
    rgba(0, 21, 106, 1) 82%,
    rgba(4, 25, 114, 1) 100%,
    rgba(0, 29, 145, 1) 100%,
    rgba(0, 47, 249, 1) 100%,
    rgba(0, 36, 190, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}

.open-popup {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) !important;
  }
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 85%;
  transform: translate(-50%, -50%);
  z-index: 1;
  @media screen and (min-width: 1200px) {
    max-width: 75%;
  }

  @media screen and (max-width: 700px) {
    max-width: 70%;
    top: 47%;
  }
}

.full-page {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/assets/images/welcome/bg-mark.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.table-list {
  position: absolute;
  left: 50%;
  height: 50%;
  width: 70%;
  bottom: 22%;
  margin: 0 auto;
  transform: translateX(-50%);
  @media screen and (min-width: 1600px) {
    bottom: 21%;
  }

  .th {
    font-size: 46%;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5c513 !important;
    @media screen and (min-width: 768px) {
      font-size: 55%;
    }
    @media screen and (max-height: 370px) and (orientation: landscape) {
      font-size: 38%;
    }
    @media screen and (min-width: 768px) and (max-height: 375px) and (orientation: landscape) {
      font-size: 46%;
    }
    @media screen and (min-width: 1024px) {
      font-size: 60%;
    }
    @media screen and (min-width: 1440px) {
      font-size: 70%;
    }
  }

  .td {
    font-size: 55%;
    color: #fff !important;
    @media screen and (max-height: 370px) and (orientation: landscape) {
      font-size: 46%;
    }
    @media screen and (min-width: 768px) and (max-height: 375px) {
      font-size: 50%;
    }
    @media screen and (min-width: 1024px) {
      font-size: 62%;
    }
    @media screen and (min-width: 1440px) {
      font-size: 72%;
    }
  }

  .th,
  .td {
    &:first-child {
      width: 10%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 35%;
    }

    &:nth-child(4) {
      width: 30%;
      text-align: center;
    }
  }

  .row {
    align-items: center;
    margin: 0;
  }

  .thead {
    margin-bottom: 0.9%;
  }

  .tbody {
    max-height: 92%;
    overflow-x: hidden;
    overflow-y: auto;

    .row {
      background-image: url('~/assets/images/line.png') !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: bottom !important;
      padding: 1% 0;
      margin: 0;

      &:last-child {
        background-image: none !important;
      }
    }
  }

  .places {
    max-width: 50%;
  }

  .number {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    @media screen and (max-height: 370px) and (orientation: landscape) {
      font-size: 90%;
    }
  }

  .bg-number-gold {
    background: -webkit-linear-gradient(#ffc400, #b94a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-number-silver {
    background: blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.list-choose {
  .item-choose {
    .button {
      margin: 0 !important;

      &:hover {
        &::before {
          opacity: 1;
        }

        .product-item {
          .product-image {
            max-width: 64%;
          }
          .product-info {
            display: block;
          }
        }

        .name-solution {
          display: block;
        }
      }

      &::before {
        content: '';
        left: 7.3%;
        right: 7.5%;
        top: 9%;
        bottom: 9%;
        position: absolute;
        clip-path: polygon(
          9% 0%,
          91% 0,
          100% 7%,
          100% 93%,
          91% 100%,
          11% 101%,
          0% 93%,
          0 7%
        );
        background: rgba(0, 0, 0, 0.5) !important;
        opacity: 0;
        z-index: 1;
      }

      .name-solution {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        font-size: 1vw;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: white;
        z-index: 2;
        width: 75%;
      }

      .btn-img-error {
        height: 0;
        visibility: hidden;
        opacity: 0;
      }
    }

    &.error {
      background-color: transparent !important;
      border-color: transparent !important;

      &:hover {
        .btn-img-error {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        .btn-img {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }

      .button {
        .btn-img-error {
          height: auto;
          visibility: visible;
          opacity: 1;
        }

        .btn-img-shadow {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .product-item {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 15%;
      max-width: 70%;
      .product-image {
        max-width: 82%;
        margin: 0 auto 2%;
        transition: all 0.3s;
      }

      .product-info {
        font-size: 0.8vw;
        line-height: 1.2;
        color: #fff;
        text-align: center;
        display: none;
      }
    }

    .name-product {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12%;
      text-shadow: -1px -1px 1px #353535, 1px 2px 2px #fff;
      color: #353535;
      text-transform: uppercase;
      font-size: 0.8vw;
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@keyframes zoomAirQuality {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

.bottom-view.warning {
  background-color: transparent !important;
  border-color: transparent !important;

  .air-quality {
    animation: zoomAirQuality 1s infinite;
  }
}

.full-page {
  .list-item {
    .item {
      .img-border {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }

      &.active {
        .img-border {
          opacity: 1;
          visibility: visible;
          height: auto;
        }

        .img-default {
          opacity: 0;
          visibility: hidden;
          height: 0;
        }
      }

      &.selected {
        opacity: 1;

        .img-default {
          opacity: 1;
          visibility: visible;
          height: auto;
        }
      }
    }
  }
}

//Custom animate popup
.dialog-transition-enter,
.dialog-transition-leave-to {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.alert-error {
  color: #fff !important;
  text-align: center;
  display: none;
  font-size: 1vw;

  &.show {
    display: block;
  }
}

.character {
  .name {
    position: absolute;
    left: 70%;
    bottom: 104%;
    font-size: 18px;
    font-weight: bold;
    color: #ffc400 !important;
    transform: translateX(-50%);
    white-space: nowrap;
    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }
}

.title-solution {
  margin-bottom: 4%;
  .img-solution {
    margin: 0 auto;
    max-width: 40%;
  }
  .des {
    margin-top: -1%;
    font-size: 1vw;
    line-height: 1.4;
    color: #fff !important;
    text-align: center;
  }
}

.v-tooltip__content {
  @media screen and (max-width: 700px) {
    font-size: 10px !important;
    line-height: 18px !important;
    padding: 5px 10px !important;
  }
}

.bg-audio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.btn-sound {
  width: 50px;
  height: 37px;
  // position: fixed;
  // bottom: 20px;
  // right: 20px;
  background-image: url('~/assets/images/common/ic_sound.png');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: left bottom;
  &.active {
    background-position: left top;
  }
}
