<template>
  <v-container class="fill-height">
    <v-row class="d-flex justify-center align-center">
      <v-col lg="6" md="6" sm="9">
        <v-card width="100%" height="400px" class="rounded-xl">
          <v-card-title class="white--text text-h5 py-7">
            Login - City Box
          </v-card-title>

          <v-card-text class="pt-10 pb-0">
            <v-text-field
              v-model="formLogin.email"
              autofocus
              class="mb-3"
              outlined
              dense
              :error-messages="errors.email ? errors.email[0] : ''"
              :class="{ 'is-invalid': errors.email }"
              append-icon="mdi-account"
              name="email"
              label="Email"
              type="text"
            ></v-text-field>

            <v-text-field
              v-model="formLogin.password"
              outlined
              dense
              autocomplete="new-password"
              :error-messages="errors.password ? errors.password[0] : ''"
              :class="{ 'is-invalid': errors.password }"
              append-icon="mdi-lock-question"
              name="password"
              label="Password"
              type="password"
            ></v-text-field>
          </v-card-text>

          <v-card-actions class="d-flex justify-center">
            <v-btn type="button" color="primary pl-10 pr-10" @click="onLogin">
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { ref, useContext, defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'auth',
  setup() {
    const { $auth } = useContext()

    const errorMsg = ref('')
    const loading = ref(false)
    const formLogin = ref({
      email: '',
      password: '',
    })

    const onLogin = async () => {
      try {
        await $auth.loginWith('local', { data: formLogin.value })
      } catch (error) {}
    }

    return {
      errorMsg,
      loading,
      formLogin,
      onLogin,
    }
  },
  head: {
    title: 'Login',
  },
})
</script>