<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="dataTableState.items"
      :options.sync="dataTableState.options"
      :server-items-length="dataTableState.total"
      :footer-props="dataTableState.footerProps"
      class="elevation-1"
      width="100%"
    >
      <template #[`item.is_correct_display`]="{ item }">
        <div
          class="pa-1 is_correct_display"
          :class="
            item.is_correct_display === 'True'
              ? 'success white--text rounded-lg'
              : 'error white--text rounded-lg'
          "
        >
          {{ item.is_correct_display }}
        </div>
      </template>
      <template #[`item.actions`]="{ item }">
        <v-icon small color="grey" class="mr-2" @click="openDetail(item)">
          mdi-pencil
        </v-icon>
      </template>
    </v-data-table>

    <v-dialog v-model="flag" persistent max-width="600">
      <v-card class="pa-5" elevation="1">
        <v-card-text class="pt-6 px-2">
          <v-row justify="start" align="center">
            <v-col cols="12">
              <v-row>
                <v-col class="py-0" cols="12" sm="6">
                  <v-text-field
                    v-model="form.desc"
                    label="Description"
                    hide-details
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
                <v-col class="py-0" cols="12" sm="6">
                  <v-select
                    v-model="form.is_correct"
                    :value="form.is_correct"
                    :items="options"
                    label="Is Correct"
                    outlined
                    dense
                    :error-messages="errors ? errors.is_correct : null"
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flag = false"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="save(form.id)">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { ref, reactive, useContext } from '@nuxtjs/composition-api'

import useDataTable from '@/composables/use-data-table.js'
export default {
  setup() {
    const { $axios } = useContext()
    const loading = ref(false)
    const headers = ref([
      { text: 'ID', value: 'id', sortable: true },
      { text: 'Name', value: 'name', sortable: true },
      { text: 'Level Id', value: 'level_id', sortable: false },
      { text: 'Description', value: 'desc', sortable: false },
      { text: 'Is Correct', value: 'is_correct_display', sortable: false },
      { text: '', value: 'actions', sortable: false },
    ])

    const options = ref([
      { text: 'False', value: 0 },
      { text: 'True', value: 1 },
    ])

    const form = reactive({})

    const flag = ref(false)

    const openDetail = (item) => {
      flag.value = true
      Object.assign(form, item)
    }

    const save = async (id) => {
      await $axios
        .post(`/admin/solutions/${id}`, {
          desc: form.desc,
          is_correct: form.is_correct,
        })
        .then((res) => {
          if (res.data?.code === 200) {
            flag.value = false
            dataOptionsHandler()
          }
        })
        .catch(() => {})
    }

    const resource = '/admin/solutions'

    const {
      state: dataTableState,
      dataOptionsHandler,
      search,
    } = useDataTable(resource)

    return {
      headers,
      loading,
      dataTableState,
      dataOptionsHandler,
      search,
      flag,
      openDetail,
      form,
      save,
      options,
    }
  },
}
</script>
<style scoped>
.is_correct_display {
  width: 50%;
  text-align: center;
}
</style>
