<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-sheet class="wrap-content">
      <v-img
        :src="require(`~/assets/images/welcome/${welcomeImg}`)"
        contain
      ></v-img>
      <v-sheet class="button">
        <nuxt-link :to="prevRoom">
          <v-img
            :src="require('~/assets/images/welcome/cta.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/welcome/cta-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </nuxt-link>
      </v-sheet>
      <v-sheet class="user-bottom">
        <v-img
          :src="
            require(`~/assets/images/welcome/user-${
              gender === 1 ? 'boy' : 'girl'
            }.png`)
          "
          contain
          class="character"
        ></v-img>
      </v-sheet>
    </v-sheet>
    <div class="bg-audio">
      <audio autoplay loop>
        <source src="/audio.ogg" type="audio/ogg" />
        <source src="/audio.mp3" type="audio/mpeg" />
      </audio>
    </div>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  useContext,
  onMounted,
  ref,
  useAsync,
} from '@nuxtjs/composition-api'

export default defineComponent({
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.$storage.setUniversal('prev-room', from.path)
    })
  },
  setup() {
    const { $storage, $auth, $axios } = useContext()
    // if ($storage.getUniversal('is_view_welcome')) {
    //   redirect('/chon-phong')
    // } else if($auth.user) {
    //   redirect('/chon-nhan-vat')
    // }

    // $storage.setUniversal('is_view_welcome', 1)
    const gender = ref(1)
    const currentLevel = ref(1)
    const welcomeImg = ref('welcome-game-bath-room.png')
    useAsync(async () => {
      if ($auth.user) {
        gender.value = $auth.user.gender
        await $axios.get('/front/games').then((res) => {
          if (res.data?.code === 200) {
            currentLevel.value = res.data?.data.record.level_id
          }
        })
      } else if ($storage.getUniversal('customer_tmp')) {
        const customerTmp =
          typeof $storage.getUniversal('customer_tmp') === 'string'
            ? JSON.parse($storage.getUniversal('customer_tmp'))
            : $storage.getUniversal('customer_tmp')

        if (customerTmp) {
          gender.value = customerTmp.gender ?? 1
        }
      }
      switch (currentLevel.value) {
        case 1:
          welcomeImg.value = 'welcome-game-bath-room.png'
          break
        case 2:
          welcomeImg.value = 'welcome-game-bed-room.png'
          break
        case 3:
          welcomeImg.value = 'welcome-game-kitchen-room.png'
          break
        case 4:
          welcomeImg.value = 'welcome-game-living-room.png'
          break
      }
    })

    const prevRoom = ref('chon-phong')

    onMounted(() => {
      prevRoom.value = $storage.getUniversal('prev-room')
        ? $storage.getUniversal('prev-room')
        : 'chon-phong'
      $storage.removeUniversal('prev-room')
    })

    return {
      prevRoom,
      gender,
      welcomeImg,
    }
  },
})
</script>

<style lang="scss" scoped>
.wrap-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45%;
  margin: 0 auto;
  padding-top: 5%;
  @media screen and (min-width: 768px) and (max-height: 375px) {
    max-width: 40%;
  }
}

.button {
  max-width: 65%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60%;
  margin: 0 auto;
  bottom: 0;
  @media screen and (min-width: 1440px) {
    max-width: 70%;
  }
}

.user-bottom {
  position: absolute;
  right: -30%;
  bottom: 0;
  max-width: 32%;
  z-index: 2;
  .character {
    margin-bottom: -40%;
  }
}
</style>
