<template>
  <div>
    <v-btn class="mb-5"
      :loading="dataTableState.csvDownloading"
      :disabled="dataTableState.csvDownloading"
      outlined
      @click="csvDownload('ranks_')"
    >
      <v-icon> mdi-download</v-icon>
      <span class="mx-2"> CSV</span>
    </v-btn>
    <v-data-table
      :headers="headers"
      :items="dataTableState.items"
      :options.sync="dataTableState.options"
      :server-items-length="dataTableState.total"
      :footer-props="dataTableState.footerProps"
      class="elevation-1"
      width="100%"
    >
    </v-data-table>

    <v-dialog v-model="flag" persistent max-width="600">
      <v-card class="pa-5" elevation="1">
        <v-card-text class="pt-6 px-2">
          <v-row justify="start" align="center">
            <v-col cols="12">
              <v-row>
                <v-col class="py-0" cols="12">
                  <v-select
                      v-model="dataTableState.search.date"
                      label="Date"
                      :items="dates"
                      hide-details
                      clearable
                      outlined
                      dense
                    >
                    </v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flag = false"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="search()"> Search </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <SpeedDial @activeModalSearch="activeModalSearch" />
  </div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'

import useDataTable from '@/composables/use-data-table.js'
import SpeedDial from '@/components/layouts/default/SpeedDial.vue'
export default {
  components: {
    SpeedDial,
  },
  setup() {
    const loading = ref(false)
    const headers = ref([
      { text: 'ID', value: 'id', sortable: false },
      { text: 'Actor Name', value: 'customer.actor_name', sortable: false },
      { text: 'Email', value: 'customer.email', sortable: false },
      { text: 'Phone', value: 'customer.phone', sortable: false },
      { text: 'Time', value: 'times', sortable: false },
      { text: 'Created At', value: 'created_at_display', sortable: false },
    ])

    const dates = [
      {text: '2021/11/08 19:30:00 ~ 2021/11/14 23:59:59', value: '2021-11-08 19:30:00~2021-11-14 23:59:59'},
      {text: '2021/11/15 00:00:00 ~ 2021/11/21 23:59:59', value: '2021-11-15 00:00:00~2021-11-21 23:59:59'},
      {text: '2021/11/22 00:00:00 ~ 2021/11/28 23:59:59', value: '2021-11-22 00:00:00~2021-11-28 23:59:59'},
      {text: '2021/11/29 00:00:00 ~ 2021/12/05 23:59:59', value: '2021-11-29 00:00:00~2021-12-05 23:59:59'},
    ]

    const flag = ref(false)

    const activeModalSearch = () => {
      flag.value = !flag.value
    }

    const resource = '/admin/ranks'

    const {
      state: dataTableState,
      dataOptionsHandler,
      search,
      csvDownload,
    } = useDataTable(resource)

    return {
      headers,
      loading,
      dataTableState,
      dataOptionsHandler,
      search,
      flag,
      activeModalSearch,
      csvDownload,
      dates
    }
  },
}
</script>
