<template>
  <v-app>
    <Header :is-rank="isRank"></Header>
    <v-main>
      <nuxt></nuxt>
    </v-main>
    <div class="lock-portrait-mobile">
      <v-img
        v-show="!detect"
        :src="require('~/assets/images/common/rotating-phone.png')"
        contain
      />
      <v-img
        v-show="detect"
        :src="require('~/assets/images/common/open-browser.png')"
        contain
      />
      <div v-show="detect">
        <button @click="openBrowser()">Chơi ngay</button>
      </div>
    </div>
  </v-app>
</template>

<script>
import { computed, defineComponent, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  middleware: ['authenticated'],
  setup() {
    const { route } = useContext()

    const isRank = computed(() => {
      return route.value.name === 'index'
    })

    const detect = computed(() => {
      if (process.client) {
        const ua = navigator.userAgent || navigator.vendor || window.opera
        return (
          ua.includes('FBAN') || ua.includes('FBAV') || ua.includes('App Store') || ua.includes('googleplay')
        )
      } else {
        return false
      }
    })

    const openBrowser = () => {
      if (process.client) {
        window.open('ftp://112.78.3.132/bridge.html', '_blank')
      }
    }

    return {
      isRank,
      detect,
      openBrowser,
    }
  },
})
</script>

<style lang="scss" scoped>
.lock-portrait-mobile {
  display: none;
  color: #fff;
  text-align: center;

  @media (max-width: 599px) and (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1111111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      color: black;
      position: relative;
      bottom: 50px;
      padding: 10px;
      border: 1px red solid;
    }
  }
}
</style>
