<template>
  <v-app>
    <v-main>
      <nuxt></nuxt>
    </v-main>
    <div class="lock-portrait-mobile">
      <v-img
        :src="require('~/assets/images/common/rotating-phone.png')"
        contain
      />
    </div>
    <div class="bg-audio">
      <audio ref="bgAudio" loop>
        <source src="/audio.ogg" type="audio/ogg" />
        <source src="/audio.mp3" type="audio/mpeg" />
      </audio>

      <audio ref="bgAlarm" loop>
        <source src="/alarm.wav" type="audio/wav" />
        <source src="/alarm.mp3" type="audio/mpeg" />
      </audio>
    </div>
  </v-app>
</template>

<script lang="ts">
import { defineComponent, ref, provide, onMounted, useContext, computed } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'DefaultFull',
  middleware: ['authenticated'],
  setup() {
    const { store } = useContext()

    const isMuted = computed(() => store.state.audio.isMuted)

    const bgAudio = ref(null)
    const bgAlarm = ref(null)

    provide('bgAudio', bgAudio)
    provide('bgAlarm', bgAlarm)

    onMounted(() => {
      if(!isMuted.value) {
        bgAudio.value.play()
      }
      // bgAlarm.value.pause()
    })

    return {
      bgAudio,
      bgAlarm
    }
  },
})
</script>

<style lang="scss" scoped>
.lock-portrait-mobile {
  display: none;
  color: #fff;
  text-align: center;

  @media (max-width: 599px) and (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1111111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
</style>
