<template>
    <div>
        Not Found Page
    </div>
</template>
<script>
import { defineComponent} from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Error',
  layout: 'empty',
  head: {},
})
</script>