<template>
  <div></div>
</template>

<script>
import { useRouter } from '@nuxtjs/composition-api'
export default {
  setup() {
    const router = useRouter()
    router.push('/customers')
  }
}
</script>