<template>
  <div>
    <!-- <v-btn class="mb-5"
      :loading="dataTableState.csvDownloading"
      :disabled="dataTableState.csvDownloading"
      outlined
      @click="csvDownload('customers_')"
    >
      <v-icon> mdi-download</v-icon>
      <span class="mx-2"> CSV</span>
    </v-btn> -->
    <v-data-table
      :headers="headers"
      :items="dataTableState.items"
      :options.sync="dataTableState.options"
      :server-items-length="dataTableState.total"
      :footer-props="dataTableState.footerProps"
      class="elevation-1"
      width="100%"
    >
      <template #[`item.action`]="{ item }">
        <v-btn color="error" depressed @click="deleteUser(item.id)">
          Delete
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="flag" persistent max-width="600">
      <v-card class="pa-5" elevation="1">
        <v-card-text class="pt-6 px-2">
          <v-row justify="start" align="center">
            <v-col cols="12">
              <v-row>
                <v-col class="py-0" cols="12" sm="6">
                  <v-text-field
                    v-model="dataTableState.search.name"
                    label="Name"
                    hide-details
                    clearable
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
                <v-col class="py-0" cols="12" sm="6">
                  <v-text-field
                    v-model="dataTableState.search.email"
                    label="Email"
                    hide-details
                    clearable
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
                <v-col class="" cols="12" sm="6">
                  <v-text-field
                    v-model="dataTableState.search.phone"
                    label="Phone"
                    hide-details
                    clearable
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flag = false"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="search()"> Search </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <SpeedDial @activeModalSearch="activeModalSearch" />
  </div>
</template>

<script>
import { ref, useContext } from '@nuxtjs/composition-api'

import useDataTable from '@/composables/use-data-table.js'
import SpeedDial from '@/components/layouts/default/SpeedDial.vue'
export default {
  components: {
    SpeedDial,
  },
  setup() {
    const { $axios } = useContext()
    const loading = ref(false)
    const headers = ref([
      { text: 'ID', value: 'id', sortable: true },
      { text: 'Name', value: 'name', sortable: true },
      { text: 'Email', value: 'email', sortable: false },
      { text: 'Phone', value: 'phone', sortable: false },
      { text: 'Facebook ID', value: 'id_social', sortable: true },
      { text: 'Gender', value: 'gender_display', sortable: true },
      { text: 'Time', value: 'times', sortable: true },
      { text: 'Coin', value: 'coins', sortable: true },
      { text: 'Created At', value: 'created_at', sortable: true },
      { text: 'Action', value: 'action', sortable: false },
    ])

    const flag = ref(false)

    const activeModalSearch = () => {
      flag.value = !flag.value
    }

    const resource = '/admin/customers'

    const {
      state: dataTableState,
      dataOptionsHandler,
      search,
      // csvDownload,
    } = useDataTable(resource)

    const deleteUser = (id) => {
      const r = confirm('Are you sure delete?')
      if (r === true) {
        $axios.get(`/admin/customers/${id}/delete`).then((res) => {
          dataOptionsHandler()
        })
      }
    }

    return {
      headers,
      loading,
      dataTableState,
      dataOptionsHandler,
      search,
      flag,
      activeModalSearch,
      // csvDownload
      deleteUser,
    }
  },
}
</script>
