<template>
  <kinesis-container>
    <v-sheet class="fill-height d-flex justify-center full-page">
      <v-img
        :src="require('~/assets/images/home/bg-bot.png')"
        position="center bottom"
        contain
      >
        <kinesis-element :strength="10">
          <v-sheet class="fill-height d-flex justify-center wrap-content">
            <v-card class="card-center" flat>
              <v-img
                :src="require('~/assets/images/home/citybox.png')"
                contain
                class="title"
              ></v-img>
              <v-card-text class="d-flex justify-center px-0 list-button">
                <v-sheet class="button" @click="goToPage">
                  <!-- <nuxt-link to="/chon-nhan-vat"> -->
                    <v-img
                      :src="require('~/assets/images/buttons/btn-try-it.png')"
                      contain
                      class="btn-img"
                    ></v-img>
                    <v-img
                      :src="
                        require('~/assets/images/buttons/btn-try-it-shadow.png')
                      "
                      contain
                      class="btn-img-shadow"
                    ></v-img>
                  <!-- </nuxt-link> -->
                </v-sheet>
                <v-sheet class="button" @click="loginWithFb()">
                  <v-img
                    :src="require('~/assets/images/buttons/login.png')"
                    contain
                    class="btn-img"
                  ></v-img>
                  <v-img
                    :src="require('~/assets/images/buttons/login-shadow.png')"
                    contain
                    class="btn-img-shadow"
                  ></v-img>
                </v-sheet>
              </v-card-text>
              <v-card-text class="content">
                <p>
                  Hoàn thành 4 vòng trong thời gian nhanh nhất để nhận các phần thưởng giá trị từ Panasonic
                </p>
              </v-card-text>
              <v-sheet>
                <v-img
                  class="img-prize"
                  :src="require('~/assets/images/home/prize.png')"
                  contain
                ></v-img>
              </v-sheet>
            </v-card>
          </v-sheet>
        </kinesis-element>
      </v-img>
    </v-sheet>
  </kinesis-container>
</template>

<script>
import { defineComponent, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const { $auth } = useContext()

    const loginWithFb = () => {
      $auth.loginWith('facebook')
    }

    const loginLocal = async (token) => {
      try {
        await $auth
          .loginWith('local', {
            data: {
              access_token: token,
              type_social: 'facebook',
            },
          })
          .then(() => {
            window.location.href = '/chon-nhan-vat'
          })
      } catch (error) {}
    }

    const goToPage = () => {
      window.location.href = '/chon-nhan-vat'
    }

    if (process.client) {
      const hash = location.hash
      if (hash) {
        const arr = hash.split('=')
        const token = arr[1].split('&')
        loginLocal(token[0])
      }
    }

    return {
      loginWithFb,
      goToPage
    }
  },
})
</script>

<style lang="scss" scoped>
.full-page {
  height: 100vh;
}
.wrap-content {
  padding-top: 140px;
  @media all and (min-width: 600px) {
    padding-top: 10vh;
  }
  @media all and (min-width: 768px) {
    padding-top: 6vh;
  }
  @media all and (min-width: 768px) and (orientation: portrait) {
    padding-top: 20vh;
  }
  @media all and (min-width: 960px) {
    padding-top: 15vh;
  }
  // @media all and (min-width: 1264px) {
  //   padding-top: 15vh;
  // }

  @media all and (min-width: 1904px) {
    padding-top: 180px;
  }
}

.bg-bottom {
  .v-image__image {
    background-position: center bottom !important;
  }
}
.card-center {
  padding: 20px;
  // @media screen and (min-width: 1024px) {
  //   max-width: 55%;
  //   margin: 0 auto;
  // }
  @media all and (min-width: 600px) {
    max-width: 80%;
  }
  // @media (min-width: 600px) and (orientation: landscape) {
  //   max-width: 80%;
  // }
  @media all and (min-width: 768px) and (orientation: portrait) {
    max-width: 100%;
  }
  @media all and (min-width: 960px) {
    // max-width: 50%;
  }
  @media all and (min-width: 1264px) {
    // max-width: 45%;
    max-width: 65%;
  }

  @media all and (min-width: 1904px) {
    max-width: 55%;
    margin: 0 auto;
  }
}

.content {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;

  @media screen and (min-width: 600px) {
    max-width: 797px;
    // margin-bottom: 0;
    line-height: 1.2;
  }
  @media screen and (min-width: 960px) {
    font-size: 25px;
  }

  p {
    color: #fff;

    @media screen and (min-width: 960px) {
      margin-bottom: 16px;
    }
  }
}

.list-button {
  margin: -20px auto -30px auto;
  max-width: 60%;
  @media all and (min-width: 600px) {
    margin-top: -20px;
    margin-bottom: -30px;
    .button {
      max-width: 70%;
    }
  }
  @media all and (min-width: 768px) {
    margin-top: -35px;
    margin-bottom: -45px;
    .button {
      padding: 15px;
    }
  }

  @media all and (min-width: 960px) {
    max-width: 55%;
    margin-top: -30px;
    margin-bottom: -40px;
    .button {
      max-width: 75%;
      padding: 10px;
    }
  }
  @media all and (min-width: 1264px) {
    margin-top: -20px;
    margin-bottom: -30px;

    .button {
      max-width: 75%;
      padding: 15px;
    }
  }
  @media all and (min-width: 1440px) {
    max-width: 60%;

    .button {
      padding: 0;
    }
  }
  @media all and (min-width: 1904px) {
    margin-top: -40px;
    .button {
      max-width: 100%;
    }
  }
}

.v-image.title {
  max-width: 70%;
  margin: 0 auto;

  // @media all and (min-width: 600px) {
  //   max-width: 40%;
  // }
  @media all and (min-width: 768px) and (orientation: portrait) {
    max-width: 90%;
  }

  @media all and (min-width: 960px) {
    max-width: 70%;
  }

  // @media all and (min-width: 1440px) {
  //   max-width: 70%;
  // }

  @media all and (min-width: 1904px) {
    max-width: 100%;
  }
}

.img-prize {
  max-width: 50%;
  margin: 0 auto;

  @media all and (min-width: 768px) and (orientation: portrait) {
    max-width: 90%;
  }

  @media all and (min-width: 960px) {
    max-width: 70%;
  }

  // @media all and (min-width: 1440px) {
  //   max-width: 70%;
  // }

  @media all and (min-width: 1904px) {
    max-width: 100%;
  }
}
// }

.bg-bottom-home {
}
</style>
