<template>
  <div>
    <v-expansion-panels v-model="panel" multiple>
      <v-expansion-panel>
        <v-expansion-panel-header> Misson 01 </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="12">
              <v-card flat>
                <v-card-text>
                  <v-row>
                    <v-col class="pt-4" cols="12">
                      <v-text-field
                        v-model="form1.question"
                        label="Question"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form1.answer1"
                        label="Answer1"
                        :error-messages="errors ? errors.answer1 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form1.answer2"
                        label="Answer2"
                        :error-messages="errors ? errors.answer2 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form1.answer3"
                        label="Answer3"
                        :error-messages="errors ? errors.answer3 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form1.answer4"
                        label="Answer4"
                        :error-messages="errors ? errors.answer4 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-select
                        v-model="form1.correct_answer"
                        :value="form1.correct_answer"
                        :items="answers"
                        label="Correct Answer"
                        outlined
                        dense
                        clearable
                        :error-messages="errors ? errors.correct_answer : null"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn color="primary" outlined @click="submit('misson01')">
                    <v-icon> mdi-content-save-edit-outline</v-icon>
                    <span> Save</span>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header> Misson 02 </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="12">
              <v-card flat>
                <v-card-text>
                  <v-row>
                    <v-col class="pt-4" cols="12">
                      <v-text-field
                        v-model="form2.youtube_url"
                        label="Youtube URL"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn color="primary" outlined @click="submit('misson02')">
                    <v-icon> mdi-content-save-edit-outline</v-icon>
                    <span> Save</span>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header> Misson 03 </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="12">
              <v-card flat>
                <v-card-text>
                  <v-row>
                    <v-col class="pt-4" cols="12">
                      <v-text-field
                        v-model="form3.question"
                        label="Question"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form3.answer1"
                        label="Answer1"
                        :error-messages="errors ? errors.answer1 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form3.answer2"
                        label="Answer2"
                        :error-messages="errors ? errors.answer2 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form3.answer3"
                        label="Answer3"
                        :error-messages="errors ? errors.answer3 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="6">
                      <v-text-field
                        v-model="form3.answer4"
                        label="Answer4"
                        :error-messages="errors ? errors.answer4 : null"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-select
                        v-model="form3.correct_answer"
                        :value="form3.correct_answer"
                        :items="answers2"
                        label="Correct Answer"
                        outlined
                        dense
                        clearable
                        :error-messages="errors ? errors.correct_answer : null"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-spacer />
                  <v-btn color="primary" outlined @click="submit('misson03')">
                    <v-icon> mdi-content-save-edit-outline</v-icon>
                    <span> Save</span>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import { ref, useAsync, useContext, reactive } from '@nuxtjs/composition-api'

export default {
  setup() {
    const { $axios, $toast } = useContext()

    const answers = ref([
      {text: 'Answer 1', value: 0},
      {text: 'Answer 2', value: 1},
      {text: 'Answer 3', value: 2},
      {text: 'Answer 4', value: 3},
    ])

    const answers2 = ref([
      {text: 'Answer 1', value: 0},
      {text: 'Answer 2', value: 1},
      {text: 'Answer 3', value: 2},
      {text: 'Answer 4', value: 3},
    ])

    const panel = ref([0])

    const form1 = reactive({})

    const form3 = reactive({})

    const form2 = reactive({
      youtube_url: '',
    })

    useAsync(async () => {
      await $axios.get(`admin/settings`).then(({ data }) => {
        if (data.code === 200) {
          const record = data.data?.records

          Object.assign(form1, JSON.parse(record.misson01))
          Object.assign(form3, JSON.parse(record.misson03))
          form2.youtube_url = record.misson02
        }
      })
    })

    const submit = async (type) => {
      let data = null
      if(type === 'misson01') {
        data = JSON.stringify(form1)
      } else if(type === 'misson02') {
        data = form2.youtube_url
      }  else if(type === 'misson03') {
        data = JSON.stringify(form3)
      }

      await $axios
        .post(`admin/settings/${type}`, { misson: data })
        .then((res) => {
          if (res.data?.code === 200) {
            $toast.success(res.data?.message)
          }
        })
    }

    return {
      answers,
      answers2,
      form1,
      form2,
      form3,
      panel,
      submit,
    }
  },
}
</script>
