<template>
  <fullscreen :fullscreen.sync="isFullscreen">
    <v-app id="layout-default" app>
      <AppBar />
      <NavigationDrawer />
      <v-main class="white">
        <div class="my-4">
          <Nuxt />
          <!-- <SpeedDial /> -->
        </div>
      </v-main>
    </v-app>
  </fullscreen>
</template>

<script>
import AppBar from '../components/layouts/default/AppBar.vue'
import NavigationDrawer from '../components/layouts/default/NavigationDrawer.vue'
// import SpeedDial from '../components/layouts/default/SpeedDial.vue'

export default {
  components: { AppBar, NavigationDrawer },
  middleware: ['authenticated'],
  data: () => {
    return {}
  },
  computed: {
    isFullscreen() {
      return this.$store.state.isFullscreen
    },
    isExpandDrawer() {
      return this.$store.state.isExpandDrawer
    },
  },
}
</script>