<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-img
      :src="require('~/assets/images/home/bg-bot.png')"
      position="center bottom"
      contain
    >
        <v-card class="wrap-content" flat>
          <v-sheet class="block-character">
            <v-img
              class="mx-auto content"
              :src="require('~/assets/images/chon-nhan-vat/character.png')"
              contain
            ></v-img>
          </v-sheet>
          <v-card-text
            class="d-flex justify-space-evenly list-radio wrap-gender"
          >
            <v-sheet class="d-flex align-center gender">
              <label for="male" class="relative pointer">
                <v-img
                  :src="
                    require(`~/assets/images/chon-nhan-vat/${
                      form.gender == 1 ? 'radio-check' : 'radio-uncheck'
                    }.png`)
                  "
                  contain
                  class="radio-input"
                ></v-img>
                <input
                  id="male"
                  v-model="form.gender"
                  value="1"
                  class="opacity-none absolute"
                  type="radio"
                  checked
                />
              </label>
              <v-img
                :src="require('~/assets/images/chon-nhan-vat/male-text.png')"
                contain
                class="label-name"
              ></v-img>
            </v-sheet>
            <v-sheet class="d-flex align-center gender">
              <label class="relative pointer" for="female"
                ><v-img
                  :src="
                    require(`~/assets/images/chon-nhan-vat/${
                      form.gender == 0 ? 'radio-check' : 'radio-uncheck'
                    }.png`)
                  "
                  contain
                  class="radio-input"
                ></v-img>
                <input
                  id="female"
                  v-model="form.gender"
                  value="0"
                  class="opacity-none absolute"
                  type="radio"
                  checked
              /></label>
              <v-img
                :src="require('~/assets/images/chon-nhan-vat/female-text.png')"
                contain
                class="label-name"
              ></v-img>
            </v-sheet>
          </v-card-text>
          <v-card-text
            class="
            wrap-form
              d-flex
              justify-center
              align-center
              px-0
              list-button
              mt-8
            "
          >
            <v-sheet class="button btn-namebox">
              <v-img
                :src="require('~/assets/images/chon-nhan-vat/namebox-n.png')"
                contain
                class="relative"
              >
                <input
                  v-model="form.name"
                  required
                  class="name-box"
                  type="text"
                  placeholder="NHẬP TÊN NHÂN VẬT ..."
                  maxlength="20"
                />
              </v-img>
            </v-sheet>
            <v-sheet class="button btn-next" @click="submit()">
              <v-img
                :src="require('~/assets/images/chon-nhan-vat/next.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="require('~/assets/images/chon-nhan-vat/next-shadow.png')"
                contain
                class="btn-img-shadow"
              ></v-img>
            </v-sheet>
          </v-card-text>
        </v-card>
    </v-img>
  </v-sheet>
</template>

<script>
import { defineComponent, reactive, useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    const { $storage, redirect, store, $auth, $axios } = useContext()
    const form = reactive({
      level: 1,
      gender: 1,
      name: '',
      meta_data: [],
      coins: 100,
      times: 0
    })

    if($auth.user) {
      if($auth.user.actor_name !== null && $auth.user.gender !==null) {
        redirect('/chon-phong')
      }
    }

    const submit = async () => {
      if(form.name === ''){
        alert('Vui lòng nhập tên nhân vật')
      } else if($auth.user) {
        await $axios.post('front/update-info?type=1', {actor_name: form.name, gender: form.gender}).then(res => {
          if (res.data?.code === 200) {

            $storage.setUniversal('is_view_character', 1)

            const redirectKey = $storage.getUniversal('redirect_key')
            if(redirectKey) {
              $storage.removeUniversal('redirect_key');
              redirect(redirectKey)
            }else{
              window.location.href = '/chon-phong'
            }
          }
        })
      } else {
        await $axios.post('front/check-name', {name: form.name}).then(res => {
          if(res.data?.code === 200) {
            $storage.setUniversal('is_view_character', 1)
            $storage.setUniversal('customer_tmp', JSON.stringify(form))
            store.commit('customer/SET_LEVEL', form.level)
            // store.commit('customer/SET_COINS', form.coins)
            redirect('/chon-phong')
          }
        }).catch(err => {
            const errors = err.response.data.errors
            if(errors.name) {
              alert('Tên nhân vật đã được sử dụng, vui lòng nhập tên nhân vật khác!')
            }
        })
      }
    }

    return {
      form,
      submit,
    }
  },
})
</script>

<style lang="scss" scoped>
.justify-space-evenly {
  justify-content: space-evenly;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.opacity-none {
  opacity: 0;
}
.pointer {
  cursor: pointer;
}
.wrap-gender{
  width: 50%;
  margin: auto;
}
.wrap-form{
  margin-left: 20px;
}
.gender {
  @media screen and (min-width: 600px) {
    transform: scale(0.4);
  }
  @media screen and (min-width: 960px){
    transform: scale(0.8);
  }
}
.btn-namebox {
  margin-right: 2%;
}
.btn-next {
  max-width: 72%;
}
.name-box {
  position: absolute;
    font-size: 30px;
    transform: translateY(-50%);
    top: calc(50% - 5px);
    left: 20%;
    color: gray;
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 2vw;
  }
}
.wrap-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  margin: 0 auto;
  padding-top: 13%;
  @media screen and (min-width: 960px){
    padding-top: 4%;
  }
}
.bg-bottom {
  .v-image__image {
    background-position: center bottom !important;
  }
}

.content {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;

  p {
    color: #fff;
  }
}

.block-character {
  .content {
    @media screen and (min-width: 667px){
      max-width: 50%;
    }
    @media screen and (min-width: 960px){
      max-width: 65%;
    }
    @media screen and (min-width: 1264px){
      max-width: 50%;
    }
    @media screen and (min-width: 1904px){
      max-width: 70%;
    }
  }
}

.list-button {
  @media all and (min-width: 600px) {
    transform: scale(0.3);
    margin-top: -20% !important;
  }
  @media screen and (min-width: 920px){
    transform: scale(0.5);
    margin-top: -7% !important;
  }
  @media screen and (min-width: 1904px){
    transform: scale(0.75);
    margin-top: -5% !important;
  }
}
@media screen and (min-width: 1904px){
  .list-radio {
    max-width: 70%;
    margin: 0 auto;
  }
}
.label-name {
  margin-left: 4%;
}
</style>
