<template>
  <v-app-bar app dense absolute>
    <v-app-bar-nav-icon
      v-if="!$vuetify.breakpoint.mdUp"
      @click="toggleDrawer()"
    >
      <v-icon>mdi-menu</v-icon>
    </v-app-bar-nav-icon>

    <v-app-bar-title>
      <v-breadcrumbs :items="breadcrumbItems" class="px-0">
        <template #divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-app-bar-title>

    <v-spacer></v-spacer>

    <v-btn icon @click="toggleFullscreen()">
      <v-icon>mdi-fullscreen</v-icon>
    </v-btn>

    <v-menu rounded="0" offset-y transition="slide-y-transition" open-on-hover>
      <template #activator="{ attrs, on }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>

      <v-list dense width="200">
        <template v-for="(item, i) in items">
          <v-list-item :key="i" link :to="item.to" color="success">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title
                class="white-text"
                v-text="item.label"
              ></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider v-if="i < items.length - 1" :key="i"></v-divider>
        </template>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
export default {
  data: () => {
    return {
      breadcrumbItems: [
        {
          text: 'Dashboard',
          disabled: false,
          href: 'breadcrumbs_dashboard',
        },
        {
          text: 'Link 1',
          disabled: false,
          href: 'breadcrumbs_link_1',
        },
        {
          text: 'Link 2',
          disabled: true,
          href: 'breadcrumbs_link_2',
        },
      ],
      items: [
        {
          icon: 'mdi-card-account-details',
          label: 'Profile',
          to: 'profile',
        },
        {
          icon: 'mdi-logout',
          label: 'Logout',
          to: 'authentication/logout',
        },
      ],
    }
  },
  methods: {
    toggleFullscreen() {
      this.$store.commit('toggleFullscreen')
    },
    toggleDrawer() {
      this.$store.commit('toggleDrawer')
    },
  },
}
</script>