<template>
  <v-navigation-drawer
    :value="isExpandDrawer"
    :permanent="$vuetify.breakpoint.mdUp"
    app
    :mini-variant.sync="mini"
    absolute
    color="#1C3FAC"
    dark
    dense
  >
    <v-list class="pa-0">
      <v-list-item class="px-2 py-0" dense>
        <v-list-item-avatar class="my-1">
          <v-img src="/favicon.ico"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>
          <span class="text-h6">CITY BOX</span>
        </v-list-item-title>

        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list class="mt-3" dense>
      <v-list-item-group v-model="selectedItem" color="white">
        <template v-for="item in items">
          <v-list-item :key="item.title" link :to="item.to" class="my-1 py-1">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      selectedItem: 1,
      mini: false,
      items: [
        { title: 'Customers', icon: 'mdi-account-group-outline', to: 'customers' },
        { title: 'Games', icon: 'mdi-gamepad-variant', to: 'games' },
        { title: 'Ranks', icon: 'mdi-crown', to: 'ranks' },
        { title: 'Settings', icon: 'mdi-cogs', to: 'settings' },
        { title: 'Solutions', icon: 'mdi-gavel', to: 'solutions' },
      ],
    }
  },
  computed: {
    isExpandDrawer() {
      return this.$store.state.isExpandDrawer
    },
  },
}
</script>