<template>
  <v-speed-dial
    ref="speed-dial"
    v-model="fab"
    right
    bottom
    :direction="direction"
    open-on-hover
    transition="slide-x-transition"
    fixed
  >
    <template #activator>
      <v-btn v-model="fab" color="green darken-2" dark fab>
        <v-icon v-if="fab"> mdi-close </v-icon>
        <v-icon v-else> mdi-blur </v-icon>
      </v-btn>
    </template>
    <!-- <v-btn fab dark small color="red">
      <v-icon>mdi-delete</v-icon>
    </v-btn> -->
    <v-btn @click="$emit('activeModalSearch')" fab dark small color="indigo">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <!-- <v-btn fab dark small color="green">
      <v-icon>mdi-plus</v-icon>
    </v-btn> -->
  </v-speed-dial>
</template>

<script>
export default {
  data: () => {
    return {
      fab: false,
    }
  },
  computed: {
    direction() {
      const breakpointName = this.$vuetify.breakpoint.name
      return breakpointName === 'sm' || breakpointName === 'xs' ? 'left' : 'top'
    },
  },
}
</script>