<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <Header :is-show-level="true" :is-show-back="true"></Header>
    <v-sheet class="timer">
      <v-img :src="require('~/assets/images/rooms/time.png')" contain>
        <v-sheet class="timer-text">
          <v-sheet id="seconds"
            >{{ timeDone > 0 ? timeDone : timeLeft }}
          </v-sheet>
          <v-sheet class="text">s</v-sheet>
        </v-sheet>
      </v-img>
    </v-sheet>
    <v-sheet class="wrap-content">
      <v-img
        :src="require('~/assets/images/kitchen-room/bg-kitchen-room.png')"
        contain
        class="room-img"
      ></v-img>
      <v-sheet class="list-item">
        <v-sheet
          class="item tu-bep"
          :class="{
            active: !selected.item && (item || customerItems.includes(17)),
            selected: selected.item || customerItems.includes(17),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/tu-bep.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/tu-bep-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item ban-an"
          :class="{
            active: !selected.item1 && (item1 || customerItems.includes(18)),
            selected: selected.item1 || customerItems.includes(18),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/ban-an.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/ban-an-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item tham-san"
          :class="{
            active: !selected.item2 && (item2 || customerItems.includes(19)),
            selected: selected.item2 || customerItems.includes(19),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/tham-san.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/tham-san-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item ke-bep"
          :class="{
            active: !selected.item3 && (item3 || customerItems.includes(20)),
            selected: selected.item3 || customerItems.includes(20),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/ke-bep.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/ke-bep-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item ke-chen"
          :class="{
            active: !selected.item4 && (item4 || customerItems.includes(21)),
            selected: selected.item4 || customerItems.includes(21),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/ke-chen.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/ke-chen-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item tu-lanh"
          :class="{
            active: !selected.item5 && (item5 || customerItems.includes(22)),
            selected: selected.item5 || customerItems.includes(22),
          }"
        >
          <v-img
            :src="require('~/assets/images/kitchen-room/tu-lanh.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/kitchen-room/tu-lanh-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
      </v-sheet>
      <v-sheet class="list-button">
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active: !selected.item && (item || customerItems.includes(17)),
                selected: selected.item || customerItems.includes(17),
              }"
              @click="chooseItem(17, 20)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-tu-bep.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tu-bep-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tu-bep-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item || customerItems.includes(17)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active:
                  !selected.item1 && (item1 || customerItems.includes(18)),
                selected: selected.item1 || customerItems.includes(18),
              }"
              @click="chooseItem(18, 30)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-ban-an.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ban-an-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ban-an-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item1 || customerItems.includes(18)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active:
                  !selected.item2 && (item2 || customerItems.includes(19)),
                selected: selected.item2 || customerItems.includes(19),
              }"
              @click="chooseItem(19, 60)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-tham-san.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tham-san-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tham-san-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item2 || customerItems.includes(19)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active:
                  !selected.item3 && (item3 || customerItems.includes(20)),
                selected: selected.item3 || customerItems.includes(20),
              }"
              @click="chooseItem(20, 80)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-ke-bep.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ke-bep-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ke-bep-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item3 || customerItems.includes(20)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active:
                  !selected.item4 && (item4 || customerItems.includes(21)),
                selected: selected.item4 || customerItems.includes(21),
              }"
              @click="chooseItem(21, 100)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-ke-chen.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ke-chen-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-ke-chen-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item4 || customerItems.includes(21)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-sheet
              v-bind="attrs"
              class="button"
              v-on="on"
              :class="{
                active:
                  !selected.item5 && (item5 || customerItems.includes(22)),
                selected: selected.item5 || customerItems.includes(22),
              }"
              @click="chooseItem(22, 110)"
            >
              <v-img
                :src="require('~/assets/images/kitchen-room/btn-tu-lanh.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tu-lanh-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/kitchen-room/btn-tu-lanh-selected.png')
                "
                contain
                class="btn-img-selected"
              ></v-img>
            </v-sheet>
          </template>
          <span>{{
            selected.item5 || customerItems.includes(22)
              ? 'click để xóa'
              : 'click để trang trí phòng'
          }}</span>
        </v-tooltip>
      </v-sheet>
      <v-sheet class="character-kid">
        <v-img
          :src="require(`~/assets/images/character/kid-left.png`)"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="character">
        <v-sheet class="name">{{
          $auth.user.actor_name.split(' ').slice(-2).join(' ')
        }}</v-sheet>
        <v-img
          :src="
            require(`~/assets/images/rooms/lv3_${
              $auth.user.gender === 1 ? 'nam' : 'nu'
            }.png`)
          "
          contain
        ></v-img>
      </v-sheet>
    </v-sheet>
    <v-sheet
      class="bottom-view"
      :class="{
        warning: customerItems.length >= 4 && !solutionSelected && !isCancel,
      }"
    >
      <v-sheet class="guide" @click="dialogWelcome = true">
        <v-img
          :src="require('~/assets/images/rooms/guide.png')"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="air-quality">
        <v-img
          :src="require('~/assets/images/rooms/air-quality.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 0 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-one-item.png')"
          contain
          class="item"
          :class="{ show: solutionSelected || customerItems.length == 1 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-two-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 2 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-three-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 3 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-four-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 4 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-five-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 5 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-six-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 6 }"
        >
        </v-img>
      </v-sheet>
    </v-sheet>

    <v-dialog v-model="dialogMoney" fullscreen hide-overlay>
      <ModalMoney
        @activeModalMission="activeModalMission"
        @closeModal="dialogMoney = $event"
      ></ModalMoney>
    </v-dialog>
    <v-dialog v-model="dialogMisson03" fullscreen hide-overlay>
      <ModalMisson01
        :level="3"
        @closeModal="dialogMisson03 = $event"
        @reloadData="fetchInitData"
        @resetRoom="playAgain"
      ></ModalMisson01>
    </v-dialog>
    <v-dialog v-model="dialogLevelUp" fullscreen hide-overlay>
      <modal-level-up-03></modal-level-up-03>
    </v-dialog>
    <v-dialog v-model="dialogWarning" fullscreen hide-overlay>
      <ModalWarning
        @activeModalSolution="activeModalSolution"
        @closeModal=";(dialogWarning = $event), (isCancel = !$event)"
      ></ModalWarning>
    </v-dialog>
    <v-dialog v-model="dialogSolution" fullscreen hide-overlay>
      <ModalSolutionKitchenRoom
        @updateSolution="updateSolution"
      ></ModalSolutionKitchenRoom>
    </v-dialog>
    <v-dialog v-model="dialogWarningCancel" fullscreen hide-overlay>
      <ModalWarningCancel @playAgain="playAgain"></ModalWarningCancel>
    </v-dialog>
    <v-dialog v-model="dialogWarningSuccess" fullscreen hide-overlay>
      <ModalWarningSuccess
        :data="textSuccess"
        @closeModal="dialogWarningSuccess = $event"
      ></ModalWarningSuccess>
    </v-dialog>

    <div class="bg-audio">
      <audio ref="bgBuy">
        <source src="/buy.wav" type="audio/wav" />
        <source src="/buy.mp3" type="audio/mpeg" />
      </audio>
    </div>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  ref,
  useContext,
  useAsync,
  reactive,
  inject
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {
    const dialogMoney = ref(false)
    const dialogMisson03 = ref(false)
    const dialogLevelUp = ref(false)
    const dialogWelcome = ref(false)
    const dialogWarning = ref(false)
    const dialogSolution = ref(false)
    const dialogWarningCancel = ref(false)
    const dialogWarningSuccess = ref(false)

    const { store, $auth, $axios, redirect, $storage } = useContext()

    const item = ref(false)
    const item1 = ref(false)
    const item2 = ref(false)
    const item3 = ref(false)
    const item4 = ref(false)
    const item5 = ref(false)
    const selected = reactive({
      item: false,
      item1: false,
      item2: false,
      item3: false,
      item4: false,
      item5: false,
    })

    const solutionSelected = ref(false)

    const isDone = ref(false)
    const isCancel = ref(false)

    const timeLeft = ref(0)
    const timeDone = ref(0)

    const loading = ref(false)

    const customerCoins = ref(0)
    const customerMetaData = ref([])

    const bgAlarm = inject('bgAlarm')
    const bgBuy = ref(null)

    const chooseItem = (itemId, itemCoins) => {
      if (!customerMetaData.value.includes(itemId) && !loading.value) {
        if (customerCoins.value >= itemCoins) {
          switch (itemId) {
            case 17:
              item.value = true
              setTimeout(() => {
                selected.item = true
              }, 500)
              break
            case 18:
              item1.value = true
              setTimeout(() => {
                selected.item1 = true
              }, 500)
              break
            case 19:
              item2.value = true
              setTimeout(() => {
                selected.item2 = true
              }, 500)
              break
            case 20:
              item3.value = true
              setTimeout(() => {
                selected.item3 = true
              }, 500)
              break
            case 21:
              item4.value = true
              setTimeout(() => {
                selected.item4 = true
              }, 500)
              break
            case 22:
              item5.value = true
              setTimeout(() => {
                selected.item5 = true
              }, 500)
              break
          }
          customerCoins.value = customerCoins.value - itemCoins
          loading.value = true
          bgBuy.value.currentTime = 0
          bgBuy.value.play()
          setTimeout(() => {
            customerMetaData.value.push(itemId)
            store.commit('customer/SET_COINS', customerCoins.value)

            if ($auth.user) {
              if (
                customerMetaData.value.length >= 4 &&
                customerMetaData.value.length < 6 &&
                !solutionSelected.value
              ) {
                bgAlarm.value.play()
                dialogWarning.value = true
              }
              const form = {
                coins_after_play: customerCoins.value,
                meta_data: JSON.stringify(customerMetaData.value),
                times: timeLeft.value,
                level_id: 3,
                is_done: 0,
              }
              if (
                customerMetaData.value.length === 6 &&
                solutionSelected.value
              ) {
                form.is_done = 1
              } else if (
                customerMetaData.value.length === 6 &&
                !solutionSelected.value
              ) {
                dialogWarningCancel.value = true
              }
              $axios
                .post('/front/update-game?removeItem=false', form)
                .then((res) => {
                  if (res.data?.code === 200) {
                    const game = res.data?.data.record
                    loading.value = false
                    if (game.is_done === 1) {
                      timeDone.value = game.times
                      dialogLevelUp.value = true
                    }
                  }
                })
            }
          }, 500)
        } else {
          dialogMoney.value = true
        }
      } else if (
        customerMetaData.value.includes(itemId) &&
        !isDone.value &&
        !loading.value
      ) {
        const index = customerMetaData.value.indexOf(itemId)
        if (index > -1) {
          customerMetaData.value.splice(index, 1)
        }
        switch (itemId) {
          case 17:
            item.value = false
            setTimeout(() => {
              selected.item = false
            }, 500)
            break
          case 18:
            item1.value = false
            setTimeout(() => {
              selected.item1 = false
            }, 500)
            break
          case 19:
            item2.value = false
            setTimeout(() => {
              selected.item2 = false
            }, 500)
            break
          case 20:
            item3.value = false
            setTimeout(() => {
              selected.item3 = false
            }, 500)
            break
          case 21:
            item4.value = false
            setTimeout(() => {
              selected.item4 = false
            }, 500)
            break
          case 22:
            item5.value = false
            setTimeout(() => {
              selected.item5 = false
            }, 500)
            break
        }
        customerCoins.value = customerCoins.value + itemCoins
        loading.value = true
        if(customerMetaData.value.length < 4) {
          bgAlarm.value.pause()
        }
        setTimeout(() => {
          store.commit('customer/SET_COINS', customerCoins.value)

          if ($auth.user) {
            const form = {
              coins_after_play: customerCoins.value,
              meta_data: JSON.stringify(customerMetaData.value),
            }
            $axios
              .post('/front/update-game?removeItem=true', form)
              .then((res) => {
                loading.value = false
              })
          }

          const customerTmp =
            typeof $storage.getUniversal('customer_tmp') === 'string'
              ? JSON.parse($storage.getUniversal('customer_tmp'))
              : $storage.getUniversal('customer_tmp')
          if (customerTmp) {
            customerTmp.coins = customerCoins.value
            customerTmp.meta_data = customerMetaData.value
            $storage.setUniversal('customer_tmp', JSON.stringify(customerTmp))
          }
        }, 500)
      }
    }

    let intervalID
    let myInterval

    const fetchInitData = async () => {
      // if (
      //   !$storage.getUniversal('is-view-guide3') &&
      //   $storage.getUniversal('is-view-phong-bep') &&
      //   timeLeft.value === 0
      // ) {
      //   $storage.setUniversal('is-view-guide3', true)
      //   dialogWelcome.value = true
      // }

      // if (!$storage.getUniversal('is-view-phong-bep') && timeLeft.value === 0) {
      //   $storage.setUniversal('is-view-phong-bep', true)
      //   redirect('/chao-mung')
      // } else {
      //   clearInterval(intervalID)
      //   intervalID = setInterval(() => {
      //     timeLeft.value++
      //   }, 1000)
      // }
      if (process.client) {
        myInterval = setInterval(function () {
          localStorage.setItem('timeLeft-2', '')
        }, 1000)

        clearInterval(myInterval)
        localStorage.removeItem('timeLeft-2')
      }
      if ($auth.user) {
        await $axios
          .get(`/front/get-game/3`)
          .then((res) => {
            if (res.data?.code === 200) {
              const game = res.data?.data.record
              customerMetaData.value = game.meta_data
                ? JSON.parse(game.meta_data)
                : []
              customerCoins.value = game.coins_after_play
              isDone.value = game.is_done
              timeLeft.value = game.times
              if (process.client && localStorage.getItem('timeLeft-3')) {
                timeLeft.value = localStorage.getItem('timeLeft-3')
              }
              if (game.is_done === 1) {
                timeDone.value = game.times
              } else {
                clearInterval(intervalID)
                intervalID = setInterval(() => {
                  if (process.client) {
                    localStorage.setItem('timeLeft-3', timeLeft.value)
                  }
                  timeLeft.value++
                }, 1000)
              }
              solutionSelected.value = game.solution !== null
              if(solutionSelected.value === false && customerMetaData.value.length >= 4 ){
                bgAlarm.value.play()
              }
              if (game.level_id < 3) redirect('chon-phong')
            }
          })
          .catch((res) => {
            redirect('chon-phong')
          })
      }
      if (customerMetaData.value.length > 0) {
        customerMetaData.value.forEach((item) => {
          switch (item) {
            case 17:
              selected.item = true
              break
            case 18:
              selected.item1 = true
              break
            case 19:
              selected.item2 = true
              break
            case 20:
              selected.item3 = true
              break
            case 21:
              selected.item4 = true
              break
            case 22:
              selected.item5 = true
              break
          }
        })
      }
      customerItems.value = customerMetaData.value
      store.commit('customer/SET_LEVEL', 3)
      store.commit('customer/SET_COINS', customerCoins.value)
    }

    const customerItems = ref([])

    useAsync(async () => {
      if ($auth.user && process.client && localStorage.getItem('timeLeft-3')) {
        const form = {
          times: localStorage.getItem('timeLeft-3'),
          is_done: 0,
        }
        await $axios
          .post(`/front/update-game?removeItem=false`, form)
          .then(async (res) => {
            if (res.data?.code === 200) {
              await fetchInitData()
            }
          })
      }
      await fetchInitData()
    })

    const activeModalMission = () => {
      dialogMisson03.value = true
      dialogMoney.value = false
    }

    const activeModalSolution = () => {
      dialogWarning.value = false
      dialogSolution.value = true
    }

    const playAgain = async () => {
      const form = {
        is_play_again: true,
        meta_data: null,
        times: timeLeft.value,
        is_done: 0,
      }
      await $axios
        .post(`/front/update-game?removeItem=false`, form)
        .then((res) => {
          if (res.data?.code === 200) {
            dialogWarningCancel.value = false
            solutionSelected.value = false
            isCancel.value = false
            item.value = false
            item1.value = false
            item2.value = false
            item3.value = false
            item4.value = false
            item5.value = false
            selected.item = false
            selected.item1 = false
            selected.item2 = false
            selected.item3 = false
            selected.item4 = false
            selected.item5 = false
            bgAlarm.value.pause()
            fetchInitData()
          }
        })
    }

    const textSuccess = ref('')
    const updateSolution = async (payload) => {
      if (payload !== 0) {
        const form = {
          solution: 1,
        }
        await $axios.post(`/front/update-solution`, form).then((res) => {
          if (res.data?.code === 200) {
            setTimeout(() => {
              textSuccess.value = payload
              dialogSolution.value = false
              dialogWarningSuccess.value = true
              solutionSelected.value = true
              bgAlarm.value.pause()
            }, 500)
          }
        })
      } else {
        setTimeout(() => {
          dialogSolution.value = false
        }, 1000)
      }
    }

    return {
      dialogMoney,
      dialogMisson03,
      dialogLevelUp,
      dialogWelcome,
      dialogWarning,
      dialogSolution,
      dialogWarningCancel,
      dialogWarningSuccess,
      activeModalSolution,
      activeModalMission,
      playAgain,
      updateSolution,
      solutionSelected,
      fetchInitData,
      item,
      item1,
      item2,
      item3,
      item4,
      item5,
      timeLeft,
      chooseItem,
      customerItems,
      selected,
      timeDone,
      isCancel,
      textSuccess,
      bgBuy
    }
  },
})
</script>

<style lang="scss" scoped>
.wrap-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) {
    max-width: 97%;
  }

  .room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: 1;
  }

  .character-kid {
    max-width: 4%;
    position: absolute;
    top: 37%;
    right: 61%;
  }
}

.timer {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 20%;
  transform: translateX(-50%);
  z-index: 1;
  @media screen and (min-width: 768px) {
    max-width: 15%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 9%;
  }

  .timer-text {
    position: absolute;
    font-family: 'LCD AT&T Phone Time/Date', sans-serif;
    top: 50%;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    align-items: flex-end;

    .v-sheet {
      color: #fff;
    }

    #seconds {
      font-size: 85%;
      @media screen and (min-width: 768px) {
        font-size: 115%;
      }
    }

    .text {
      font-size: 50%;
      margin-bottom: 4px;
      margin-left: 5px;
      @media screen and (min-width: 768px) {
        font-size: 70%;
        margin-bottom: 6px;
        margin-left: 10px;
      }
    }
  }
}

.character {
  position: absolute;
  top: 39%;
  left: 18%;
  max-width: 8%;
  z-index: 2;
}

.bottom-view {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;

  .guide {
    cursor: pointer;
    padding-left: 1%;
    max-width: 10%;
    margin-bottom: 0.5%;
  }

  .line-status {
    position: absolute;
    right: 3.5%;
    bottom: 49%;
    height: 27%;
    width: 79%;
  }
}

.list-button {
  position: absolute;
  right: 5%;
  bottom: 20%;
  background-image: url('~/assets/images/kitchen-room/room-list.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 6% 0 1%;
  max-width: 22%;

  .button {
    margin: 0 auto -2%;
    max-width: 76%;

    &:not(.selected) {
      &:hover {
        .btn-img-shadow {
          opacity: 1;
          visibility: visible;
          height: auto;
        }

        .btn-img {
          opacity: 0;
          visibility: hidden;
          height: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .btn-img-shadow {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    .btn-img {
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    &.selected {
      .btn-img-selected {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      .btn-img {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }

    &.active {
      .btn-img-shadow {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      .btn-img {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }
  }
}

.list-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  .item {
    position: absolute;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    &.tu-bep {
      top: 27.6%;
      left: 5.3%;
      max-width: 27%;
      z-index: 1;
    }

    &.ban-an {
      left: 26%;
      top: 46%;
      max-width: 30%;
      z-index: 1;
    }

    &.tham-san {
      left: 16.5%;
      bottom: 1.5%;
      max-width: 47%;
    }

    &.ke-bep {
      left: 22.7%;
      top: 2%;
      max-width: 15%;
      z-index: 1;
    }

    &.ke-chen {
      left: 3.6%;
      top: 13.2%;
      max-width: 22.4%;
      z-index: 1;
    }

    &.tu-lanh {
      top: 13.8%;
      right: 62.3%;
      max-width: 9%;
      z-index: 0;
    }
  }
}

.air-quality {
  .item {
    opacity: 0;
    visibility: hidden;
    height: 0;

    &.show {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
}
</style>
