<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <Header :is-show-level="true" :is-show-back="true"></Header>
    <v-sheet class="timer">
      <v-img :src="require('~/assets/images/rooms/time.png')" contain>
        <v-sheet class="timer-text">
          <v-sheet id="seconds"
            >{{ timeDone > 0 ? timeDone : timeLeft }}
          </v-sheet>
          <v-sheet class="text">s</v-sheet>
        </v-sheet>
      </v-img>
    </v-sheet>
    <v-sheet class="wrap-content">
      <v-img
        :src="require('~/assets/images/bath-room/bg-bath-room-2.png')"
        contain
        class="room-img"
      ></v-img>
      <v-sheet class="list-item">
        <v-sheet
          class="item bon-tam"
          :class="{
            active: !selected.item && (item || customerItems.includes(5)),
            selected: selected.item || customerItems.includes(5),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/bon-tam.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/bon-tam-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item bon-ve-sinh"
          :class="{
            active: !selected.item1 && (item1 || customerItems.includes(6)),
            selected: selected.item1 || customerItems.includes(6),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/bon-ve-sinh.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/bon-ve-sinh-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item bon-rua-mat"
          :class="{
            active: !selected.item2 && (item2 || customerItems.includes(7)),
            selected: selected.item2 || customerItems.includes(7),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/bon-rua-mat.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/bon-rua-mat-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item tu-do"
          :class="{
            active: !selected.item3 && (item3 || customerItems.includes(8)),
            selected: selected.item3 || customerItems.includes(8),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/tu-do.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/tu-do-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item guong"
          :class="{
            active: !selected.item4 && (item4 || customerItems.includes(9)),
            selected: selected.item4 || customerItems.includes(9),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/guong.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/guong-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
        <v-sheet
          class="item voi-sen"
          :class="{
            active: !selected.item5 && (item5 || customerItems.includes(10)),
            selected: selected.item5 || customerItems.includes(10),
          }"
        >
          <v-img
            :src="require('~/assets/images/bath-room/voi-sen.png')"
            contain
            class="img-default"
          ></v-img>
          <v-img
            :src="require('~/assets/images/bath-room/voi-sen-border.png')"
            contain
            class="img-border"
          ></v-img>
        </v-sheet>
      </v-sheet>
      <v-sheet class="character">
        <v-sheet class="name">{{
          name.split(' ').slice(-2).join(' ')
        }}</v-sheet>
        <v-img
          :src="
            require(`~/assets/images/rooms/character-${
              gender === 1 ? 'men' : 'female'
            }.png`)
          "
          contain
        ></v-img>
      </v-sheet>
    </v-sheet>
    <v-sheet
      class="bottom-view"
      :class="{
        warning: customerItems.length >= 4 && !solutionSelected && !isCancel,
      }"
    >
      <v-sheet class="guide" @click="dialogWelcome = true">
        <v-img
          :src="require('~/assets/images/rooms/guide.png')"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="air-quality">
        <v-img
          :src="require('~/assets/images/rooms/air-quality.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 0 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-one-item.png')"
          contain
          class="item"
          :class="{ show: solutionSelected || customerItems.length == 1 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-two-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 2 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-three-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 3 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-four-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 4 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-five-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 5 }"
        >
        </v-img>
        <v-img
          :src="require('~/assets/images/rooms/air-quality-six-item.png')"
          contain
          class="item"
          :class="{ show: !solutionSelected && customerItems.length == 6 }"
        >
        </v-img>
      </v-sheet>
    </v-sheet>
    <v-sheet class="list-button">
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item && (item || customerItems.includes(5)),
              selected: selected.item || customerItems.includes(5),
            }"
            @click="chooseItem(5, 20)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-bon-tam.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-bon-tam-shadow.png')"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-bon-tam-selected.png')
              "
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item || customerItems.includes(5)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item1 && (item1 || customerItems.includes(6)),
              selected: selected.item1 || customerItems.includes(6),
            }"
            @click="chooseItem(6, 30)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-bon-ve-sinh.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-bon-ve-sinh-shadow.png')
              "
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-bon-ve-sinh-selected.png')
              "
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item1 || customerItems.includes(6)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item2 && (item2 || customerItems.includes(7)),
              selected: selected.item2 || customerItems.includes(7),
            }"
            @click="chooseItem(7, 60)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-bon-rua-mat.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-bon-rua-mat-shadow.png')
              "
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-bon-rua-mat-selected.png')
              "
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item2 || customerItems.includes(7)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item3 && (item3 || customerItems.includes(8)),
              selected: selected.item3 || customerItems.includes(8),
            }"
            @click="chooseItem(8, 80)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-tu-do.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-tu-do-shadow.png')"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-tu-do-selected.png')"
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item3 || customerItems.includes(8)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item4 && (item4 || customerItems.includes(9)),
              selected: selected.item4 || customerItems.includes(9),
            }"
            @click="chooseItem(9, 100)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-guong.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-guong-shadow.png')"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-guong-selected.png')"
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item4 || customerItems.includes(9)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-sheet
            v-bind="attrs"
            class="button"
            v-on="on"
            :class="{
              active: !selected.item5 && (item5 || customerItems.includes(10)),
              selected: selected.item5 || customerItems.includes(10),
            }"
            @click="chooseItem(10, 110)"
          >
            <v-img
              :src="require('~/assets/images/bath-room/btn-voi-sen.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
              :src="require('~/assets/images/bath-room/btn-voi-sen-shadow.png')"
              contain
              class="btn-img-shadow"
            ></v-img>
            <v-img
              :src="
                require('~/assets/images/bath-room/btn-voi-sen-selected.png')
              "
              contain
              class="btn-img-selected"
            ></v-img>
          </v-sheet>
        </template>
        <span>{{
          selected.item5 || customerItems.includes(10)
            ? 'click để xóa'
            : 'click để trang trí phòng'
        }}</span>
      </v-tooltip>
    </v-sheet>

    <v-dialog v-model="dialogLoginFb" fullscreen hide-overlay>
      <ModalLoginFb @loginWithFb="loginWithFb"></ModalLoginFb>
    </v-dialog>
    <v-dialog v-model="dialogMoney" fullscreen hide-overlay>
      <ModalMoney
        @activeModalMission="activeModalMission"
        @closeModal="dialogMoney = $event"
      ></ModalMoney>
    </v-dialog>
    <v-dialog v-model="dialogMisson01" fullscreen hide-overlay>
      <ModalMisson01
        :level="1"
        @closeModal="dialogMisson01 = $event"
        @reloadData="fetchInitData"
        @resetRoom="playAgain"
      ></ModalMisson01>
    </v-dialog>
    <v-dialog v-model="dialogLevelUp" fullscreen hide-overlay>
      <ModalLevelUp></ModalLevelUp>
    </v-dialog>
    <v-dialog v-model="dialogWelcome" fullscreen hide-overlay>
      <ModalWelcome @closeModalWelCome="closeModalWelCome"></ModalWelcome>
    </v-dialog>
    <v-dialog v-model="dialogWarning" fullscreen hide-overlay>
      <ModalWarning
        @activeModalSolution="activeModalSolution"
        @closeModal=";(dialogWarning = $event), (isCancel = !$event)"
      ></ModalWarning>
    </v-dialog>
    <v-dialog v-model="dialogSolution" fullscreen hide-overlay>
      <ModalSolutionBathRoom
        @updateSolution="updateSolution"
      ></ModalSolutionBathRoom>
    </v-dialog>
    <v-dialog v-model="dialogWarningCancel" fullscreen hide-overlay>
      <ModalWarningCancel @playAgain="playAgain"></ModalWarningCancel>
    </v-dialog>
    <v-dialog v-model="dialogWarningSuccess" fullscreen hide-overlay>
      <ModalWarningSuccess
        :data="textSuccess"
        @closeModal="dialogWarningSuccess = $event"
      ></ModalWarningSuccess>
    </v-dialog>

    <div class="bg-audio">
      <audio ref="bgBuy">
        <source src="/buy.wav" type="audio/wav" />
        <source src="/buy.mp3" type="audio/mpeg" />
      </audio>
    </div>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  ref,
  useContext,
  useAsync,
  reactive,
  watch,
  inject
  // onMounted
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {
    const dialogLoginFb = ref(false)
    const dialogMoney = ref(false)
    const dialogMisson01 = ref(false)
    const dialogLevelUp = ref(false)
    const dialogWelcome = ref(false)
    const dialogWarning = ref(false)
    const dialogSolution = ref(false)
    const dialogWarningCancel = ref(false)
    const dialogWarningSuccess = ref(false)

    const { $storage, store, $auth, $axios, redirect, route } = useContext()

    const item = ref(false)
    const item1 = ref(false)
    const item2 = ref(false)
    const item3 = ref(false)
    const item4 = ref(false)
    const item5 = ref(false)
    const selected = reactive({
      item: false,
      item1: false,
      item2: false,
      item3: false,
      item4: false,
      item5: false,
    })

    const solutionSelected = ref(false)

    const isDone = ref(false)
    const isCancel = ref(false)

    const timeLeft = ref(0)
    const timeDone = ref(0)

    const gender = ref('men')
    const name = ref('')

    let intervalID
    let intervalID2

    const closeModalWelCome = (e) => {
      dialogWelcome.value = e
      intervalID = setInterval(() => {
        timeLeft.value++
      }, 1000)
    }

    const loading = ref(false)

    const customerCoins = ref(0)

    const bgAlarm = inject('bgAlarm')

    const bgBuy = ref(null)

    const customerMetaData = ref([])


    const chooseItem = (itemId, itemCoins) => {
      if (!customerMetaData.value.includes(itemId) && !loading.value) {
        if (customerCoins.value >= itemCoins) {
          switch (itemId) {
            case 5:
              item.value = true
              setTimeout(() => {
                selected.item = true
              }, 500)
              break
            case 6:
              item1.value = true
              setTimeout(() => {
                selected.item1 = true
              }, 500)
              break
            case 7:
              item2.value = true
              setTimeout(() => {
                selected.item2 = true
              }, 500)
              break
            case 8:
              item3.value = true
              setTimeout(() => {
                selected.item3 = true
              }, 500)
              break
            case 9:
              item4.value = true
              setTimeout(() => {
                selected.item4 = true
              }, 500)
              break
            case 10:
              item5.value = true
              setTimeout(() => {
                selected.item5 = true
              }, 500)
              break
          }
          customerCoins.value = customerCoins.value - itemCoins
          loading.value = true
          bgBuy.value.currentTime = 0
          bgBuy.value.play()
          setTimeout(() => {
            customerMetaData.value.push(itemId)
            store.commit('customer/SET_COINS', customerCoins.value)

            if ($auth.user) {
              if (
                customerMetaData.value.length >= 4 &&
                customerMetaData.value.length < 6 &&
                !solutionSelected.value
              ) {
                bgAlarm.value.play()
                dialogWarning.value = true
              }
              const form = {
                coins_after_play: customerCoins.value,
                meta_data: JSON.stringify(customerMetaData.value),
                times: timeLeft.value,
                level_id: 1,
                is_done: 0,
              }
              if (
                customerMetaData.value.length === 6 &&
                solutionSelected.value
              ) {
                form.is_done = 1
              } else if (
                customerMetaData.value.length === 6 &&
                !solutionSelected.value
              ) {
                dialogWarningCancel.value = true
              }
              $axios
                .post('/front/update-game?removeItem=false', form)
                .then((res) => {
                  if (res.data?.code === 200) {
                    const game = res.data?.data.record
                    loading.value = false
                    if (game.is_done === 1) {
                      timeDone.value = game.times
                      dialogLevelUp.value = true
                    }
                  }
                })
            } else {
              loading.value = false
              const customerTmp =
                typeof $storage.getUniversal('customer_tmp') === 'string'
                  ? JSON.parse($storage.getUniversal('customer_tmp'))
                  : $storage.getUniversal('customer_tmp')
              if (customerTmp) {
                customerTmp.coins = customerCoins.value
                customerTmp.meta_data = customerMetaData.value
                customerTmp.times = timeLeft.value
                $storage.setUniversal(
                  'customer_tmp',
                  JSON.stringify(customerTmp)
                )
              }
            }
          }, 500)
        } else {
          $auth.user ? (dialogMoney.value = true) : (dialogLoginFb.value = true)
        }
      } else if (
        customerMetaData.value.includes(itemId) &&
        !isDone.value &&
        !loading.value
      ) {
        const index = customerMetaData.value.indexOf(itemId)
        if (index > -1) {
          customerMetaData.value.splice(index, 1)
        }
        switch (itemId) {
          case 5:
            item.value = false
            setTimeout(() => {
              selected.item = false
            }, 500)
            break
          case 6:
            item1.value = false
            setTimeout(() => {
              selected.item1 = false
            }, 500)
            break
          case 7:
            item2.value = false
            setTimeout(() => {
              selected.item2 = false
            }, 500)
            break
          case 8:
            item3.value = false
            setTimeout(() => {
              selected.item3 = false
            }, 500)
            break
          case 9:
            item4.value = false
            setTimeout(() => {
              selected.item4 = false
            }, 500)
            break
          case 10:
            item5.value = false
            setTimeout(() => {
              selected.item5 = false
            }, 500)
            break
        }
        customerCoins.value = customerCoins.value + itemCoins
        loading.value = true
        if(customerMetaData.value.length < 4) {
          bgAlarm.value.pause()
        }
        setTimeout(() => {
          store.commit('customer/SET_COINS', customerCoins.value)

          if ($auth.user) {
            const form = {
              coins_after_play: customerCoins.value,
              meta_data: JSON.stringify(customerMetaData.value),
            }
            $axios
              .post('/front/update-game?removeItem=true', form)
              .then((res) => {
                loading.value = false
              })
          } else {
            loading.value = false
            const customerTmp =
              typeof $storage.getUniversal('customer_tmp') === 'string'
                ? JSON.parse($storage.getUniversal('customer_tmp'))
                : $storage.getUniversal('customer_tmp')
            if (customerTmp) {
              customerTmp.coins = customerCoins.value
              customerTmp.meta_data = customerMetaData.value
              $storage.setUniversal('customer_tmp', JSON.stringify(customerTmp))
            }
          }
        }, 500)
      }
    }

    const fetchInitData = async () => {
      if (
        !$storage.getUniversal('is-view-guide1') &&
        $storage.getUniversal('is-view-phong-tam') &&
        timeLeft.value === 0
      ) {
        $storage.setUniversal('is-view-guide1', true)
        dialogWelcome.value = true
      } else {
        clearInterval(intervalID)
        clearInterval(intervalID2)
        intervalID2 = setInterval(() => {
          timeLeft.value++
        }, 1000)
      }

      if (!$storage.getUniversal('is-view-phong-tam') && timeLeft.value === 0) {
        $storage.setUniversal('is-view-phong-tam', true)
        redirect('/chao-mung')
      }
      if ($auth.user) {
        gender.value = $auth.user.gender
        name.value = $auth.user.actor_name
        await $axios
          .get(`/front/get-game/1`)
          .then((res) => {
            if (res.data?.code === 200) {
              const game = res.data?.data.record
              customerMetaData.value = game.meta_data
                ? JSON.parse(game.meta_data)
                : []
              customerCoins.value = game.coins_after_play
              timeLeft.value = game.times
              if (process.client && localStorage.getItem('timeLeft-1')) {
                timeLeft.value = localStorage.getItem('timeLeft-1')
              }
              isDone.value = game.is_done
              if (game.is_done === 1) {
                timeDone.value = game.times
              } else {
                setInterval(() => {
                  if (process.client && localStorage.getItem('timeLeft-1')) {
                    localStorage.setItem('timeLeft-1', timeLeft.value)
                  }
                }, 1000)
              }
              solutionSelected.value = game.solution !== null
              if(solutionSelected.value === false && customerMetaData.value.length >= 4 ){
                bgAlarm.value.play()
              }
            }
          })
          .catch((res) => {
            redirect('chon-phong')
          })
      } else {
        const customerTmp =
          typeof $storage.getUniversal('customer_tmp') === 'string'
            ? JSON.parse($storage.getUniversal('customer_tmp'))
            : $storage.getUniversal('customer_tmp')

        customerMetaData.value = customerTmp.meta_data
        customerCoins.value = customerTmp.coins
        timeLeft.value = customerTmp.times ?? 0
        if (process.client && localStorage.getItem('timeLeft-1')) {
          timeLeft.value = localStorage.getItem('timeLeft-1')
        }
        gender.value = customerTmp.gender ?? 1
        name.value = customerTmp.name
      }
      if (customerMetaData.value.length > 0) {
        customerMetaData.value.forEach((item) => {
          switch (item) {
            case 5:
              selected.item = true
              break
            case 6:
              selected.item1 = true
              break
            case 7:
              selected.item2 = true
              break
            case 8:
              selected.item3 = true
              break
            case 9:
              selected.item4 = true
              break
            case 10:
              selected.item5 = true
              break
          }
        })
      }
      customerItems.value = customerMetaData.value
      store.commit('customer/SET_LEVEL', 1)
      store.commit('customer/SET_COINS', customerCoins.value)
    }

    const customerItems = ref([])

    useAsync(async () => {
      if ($auth.user && process.client && localStorage.getItem('timeLeft-1')) {
        const form = {
          times: localStorage.getItem('timeLeft-1'),
          is_done: 0,
        }
        await $axios
          .post(`/front/update-game?removeItem=false`, form)
          .then(async (res) => {
            if (res.data?.code === 200) {
              await fetchInitData()
            }
          })
      }
      await fetchInitData()
    })

    const activeModalMission = () => {
      dialogMisson01.value = true
      dialogMoney.value = false
    }

    const activeModalSolution = () => {
      dialogWarning.value = false
      dialogSolution.value = true
    }

    const playAgain = async () => {
      const form = {
        coins_after_play: 100,
        coins_berore_play: 100,
        meta_data: null,
        times: timeLeft.value,
        is_done: 0,
      }
      await $axios
        .post(`/front/update-game?removeItem=false`, form)
        .then((res) => {
          if (res.data?.code === 200) {
            dialogWarningCancel.value = false
            solutionSelected.value = false
            isCancel.value = false
            item.value = false
            item1.value = false
            item2.value = false
            item3.value = false
            item4.value = false
            item5.value = false
            selected.item = false
            selected.item1 = false
            selected.item2 = false
            selected.item3 = false
            selected.item4 = false
            selected.item5 = false
            bgAlarm.value.pause()
            fetchInitData()
          }
        })
    }

    const textSuccess = ref('')
    const updateSolution = async (payload) => {
      if (payload !== 0) {
        const form = {
          solution: 1,
        }
        await $axios.post(`/front/update-solution`, form).then((res) => {
          if (res.data?.code === 200) {
            setTimeout(() => {
              textSuccess.value = payload
              dialogSolution.value = false
              dialogWarningSuccess.value = true
              solutionSelected.value = true
              bgAlarm.value.pause()
            }, 500)
          }
        })
      } else {
        setTimeout(() => {
          dialogSolution.value = false
        }, 1000)
      }
    }

    const loginWithFb = () => {
      $storage.setUniversal('redirect_key', route.value.path)
      $auth.loginWith('facebook')
    }

    const loginLocal = async (token) => {
      const customerTmp =
        typeof $storage.getUniversal('customer_tmp') === 'string'
          ? JSON.parse($storage.getUniversal('customer_tmp'))
          : $storage.getUniversal('customer_tmp')
      customerTmp.times = timeLeft.value
      customerTmp.meta_data = JSON.stringify(customerTmp.meta_data)
      try {
        await $auth
          .loginWith('local', {
            data: {
              access_token: token,
              type_social: 'facebook',
              customer_tmp: JSON.stringify(customerTmp),
            },
          })
          .then(async () => {
            $storage.removeUniversal('customer_tmp')
            $storage.removeUniversal('redirect_key')
            redirect('/phong-tam')
            await fetchInitData()
          })
      } catch (error) {}
    }

    if (process.client) {
      const hash = location.hash
      if (hash) {
        const arr = hash.split('=')
        const token = arr[1].split('&')
        loginLocal(token[0])
      }
    }

    watch(customerItems, (newState, oldState) => {
      // console.log(customerItems.value.length)
      // console.log(solutionSelected.value)
      // if (
      //   (!solutionSelected && customerItems.value.length === 4) ||
      //   (!solutionSelected && customerItems.value.length === 5) ||
      //   (!solutionSelected && customerItems.value.length === 6)
      // ) {
      //   console.log('1111');
      //   bgAudio.value.pause()
      //   bgAlarm.value.play()
      // } else {
      //   console.log('222222');
      //   bgAudio.value.play()
      //   bgAlarm.value.pause()
      // }
    })

    return {
      dialogLoginFb,
      dialogMoney,
      dialogMisson01,
      dialogLevelUp,
      dialogWelcome,
      dialogWarning,
      dialogSolution,
      dialogWarningCancel,
      dialogWarningSuccess,
      activeModalSolution,
      activeModalMission,
      solutionSelected,
      playAgain,
      updateSolution,
      loginWithFb,
      fetchInitData,
      item,
      item1,
      item2,
      item3,
      item4,
      item5,
      timeLeft,
      chooseItem,
      customerItems,
      selected,
      timeDone,
      gender,
      name,
      isCancel,
      closeModalWelCome,
      textSuccess,
      bgBuy
    }
  },
})
</script>

<style lang="scss" scoped>
.wrap-content {
  position: absolute;
  top: 50%;
  left: 8%;
  max-width: 100%;
  margin: 0 auto;
  transform: translateY(-50%);
  @media all and (min-width: 300px) {
    left: 6%;
    max-width: 75%;
  }

  .room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: 1;
  }
}

.timer {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 20%;
  transform: translateX(-50%);
  z-index: 1;
  @media screen and (min-width: 768px) {
    max-width: 15%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 9%;
  }

  .timer-text {
    position: absolute;
    font-family: 'LCD AT&T Phone Time/Date', sans-serif;
    top: 50%;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    align-items: flex-end;

    .v-sheet {
      color: #fff;
    }

    #seconds {
      font-size: 85%;
      @media screen and (min-width: 768px) {
        font-size: 115%;
      }
    }

    .text {
      font-size: 50%;
      margin-bottom: 4px;
      margin-left: 5px;
      @media screen and (min-width: 768px) {
        font-size: 70%;
        margin-bottom: 6px;
        margin-left: 10px;
      }
    }
  }
}

.character {
  position: absolute;
  top: 41%;
  left: 27%;
  max-width: 7%;

  @media all and (min-width: 300px) {
    top: 39.4%;
    left: 38.5%;
    max-width: 11%;
  }
}

.bottom-view {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;

  .guide {
    cursor: pointer;
    padding-left: 1%;
    max-width: 10%;
    margin-bottom: 0.5%;
  }

  .line-status {
    position: absolute;
    right: 3.5%;
    bottom: 49%;
    height: 27%;
    width: 79%;
  }
}

.list-button {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('~/assets/images/bath-room/room-list.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 6% 0 1%;
  max-width: 15%;
  @media screen and (min-width: 992px) {
    right: 20px;
    max-width: 18%;
  }

  .button {
    margin: 0 auto -2%;
    max-width: 76%;

    &:not(.selected) {
      &:hover {
        .btn-img-shadow {
          opacity: 1;
          visibility: visible;
          height: auto;
        }

        .btn-img {
          opacity: 0;
          visibility: hidden;
          height: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .btn-img-shadow {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    .btn-img {
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    &.selected {
      .btn-img-selected {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      .btn-img {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }

    &.active {
      .btn-img-shadow {
        opacity: 1;
        visibility: visible;
        height: auto;
      }

      .btn-img {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
    }
  }
}

.list-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  .item {
    position: absolute;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    &.bon-tam {
      bottom: 5%;
      left: 29%;
      max-width: 19%;

      @media all and (min-width: 300px) {
        bottom: 7%;
        left: 40.8%;
        max-width: 29%;
      }
    }

    &.bon-ve-sinh {
      left: 28%;
      top: 30%;
      max-width: 7%;

      @media all and (min-width: 300px) {
        left: 40.2%;
        top: 28%;
        max-width: 11%;
      }
    }

    &.bon-rua-mat {
      left: 7%;
      top: 45%;
      max-width: 10%;

      @media all and (min-width: 300px) {
        left: 6.5%;
        top: 43.5%;
        max-width: 15.4%;
      }
    }

    &.tu-do {
      left: 17%;
      top: 38%;
      max-width: 9.5%;

      @media all and (min-width: 300px) {
        left: 22%;
        top: 35.7%;
        max-width: 15.1%;
      }
    }

    &.guong {
      left: 6%;
      top: 32%;
      max-width: 6.8%;

      @media all and (min-width: 300px) {
        left: 5.7%;
        top: 30.8%;
        max-width: 11%;
      }
    }

    &.voi-sen {
      top: 28.5%;
      right: 40.7%;
      max-width: 6.5%;

      @media all and (min-width: 300px) {
        top: 27.2%;
        right: 10.6%;
        max-width: 10%;
      }
    }
  }
}

.air-quality {
  .item {
    opacity: 0;
    visibility: hidden;
    height: 0;

    &.show {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
}
</style>
