<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <Header :is-rank="true" :is-show-level="true"></Header>
    <v-sheet class="wrap-content">
      <v-sheet class="room-group">
        <v-sheet class="list-room">
          <v-sheet
            class="room-item unlocked"
            :class="{ unlock: currentLevel == 1 }"
          >
            <v-img
              :src="require('~/assets/images/rooms/living-room.png')"
              contain
              class="room-img"
            ></v-img>
          </v-sheet>
          <v-sheet class="room-item" :class="{ unlock: currentLevel == 3 }">
            <v-img
              :src="require('~/assets/images/rooms/kitchen-room.png')"
              contain
              class="room-img"
            ></v-img>
          </v-sheet>
          <v-sheet class="room-item" :class="{ unlock: currentLevel === 2 }">
            <v-img
              :src="require('~/assets/images/rooms/bed-room.png')"
              contain
              class="room-img"
            ></v-img>
          </v-sheet>
          <v-sheet class="room-item" :class="{ unlock: currentLevel === 4 }">
            <v-img
              :src="require('~/assets/images/rooms/bath-room.png')"
              contain
              class="room-img"
            ></v-img>
          </v-sheet>
        </v-sheet>
        <v-sheet class="list-button">
          <v-sheet
            class="button btn-living-room"
            :class="{ unlock: currentLevel == 1, unlocked: currentLevel > 1 }"
          >
            <nuxt-link to="/phong-tam">
              <v-img
                :src="require('~/assets/images/buttons/living-room-unlock.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/buttons/living-room-unlock-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/buttons/living-room-unlocked.png')
                "
                contain
                class="btn-img-unlocked"
              ></v-img>
            </nuxt-link>
          </v-sheet>
          <v-sheet
            class="button btn-kitchen"
            :class="{ unlock: currentLevel == 3, unlocked: currentLevel > 3 }"
          >
            <nuxt-link to="/phong-bep">
              <v-img
                :src="require('~/assets/images/buttons/kitchen-unlock.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/buttons/kitchen-unlock-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="require('~/assets/images/buttons/kitchen-unlocked.png')"
                contain
                class="btn-img-unlocked"
              ></v-img>
            </nuxt-link>
          </v-sheet>
          <v-sheet
            class="button btn-bed-room"
            :class="{ unlock: currentLevel == 2, unlocked: currentLevel > 2 }"
          >
            <nuxt-link to="/phong-ngu">
              <v-img
                :src="require('~/assets/images/buttons/bed-room-unlock.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/buttons/bed-room-unlock-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="require('~/assets/images/buttons/bed-room-unlocked.png')"
                contain
                class="btn-img-unlocked"
              ></v-img>
            </nuxt-link>
          </v-sheet>
          <v-sheet
            class="button btn-bath-room"
            :class="{ unlock: currentLevel == 4, unlocked: isLevel4Done }"
          >
            <nuxt-link to="/phong-khach">
              <v-img
                :src="require('~/assets/images/buttons/bath-room-unlock.png')"
                contain
                class="btn-img"
              ></v-img>
              <v-img
                :src="
                  require('~/assets/images/buttons/bath-room-unlock-shadow.png')
                "
                contain
                class="btn-img-shadow"
              ></v-img>
              <v-img
                :src="require('~/assets/images/buttons/bath-room-unlocked.png')"
                contain
                class="btn-img-unlocked"
              ></v-img>
            </nuxt-link>
          </v-sheet>
        </v-sheet>
      </v-sheet>

      <v-sheet class="room-character">
        <v-img
          :src="
            require(`~/assets/images/welcome/user-${
              gender === 1 ? 'boy' : 'girl'
            }.png`)
          "
          contain
          class="character"
        ></v-img>
      </v-sheet>
    </v-sheet>

  </v-sheet>
</template>

<script>
import {
  defineComponent,
  useAsync,
  useContext,
  onMounted,
  ref,
  inject
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {
    const { $axios, store, $storage, $auth, redirect } = useContext()

    const currentLevel = ref(1)
    const isLevel4Done = ref(false)
    const gender = ref(1)

    const bgAlarm = inject('bgAlarm')
    onMounted(() => {
      if(bgAlarm.value) {
        bgAlarm.value.pause()
      }
    })
    
    useAsync(async () => {
      const redirectKey = $storage.getUniversal('redirect_key')
      if (redirectKey) {
        $storage.removeUniversal('redirect_key')
        redirect(redirectKey)
      }

      if ($auth.user) {
        await $axios.get('/front/games').then((res) => {
          if (res.data?.code === 200) {
            if (
              res.data?.data.record.level_id === 1 &&
              res.data?.data.record.meta_data === null
            ) {
              if (process.client) {
                localStorage.removeItem('timeLeft-1')
                localStorage.removeItem('timeLeft-2')
                localStorage.removeItem('timeLeft-3')
                localStorage.removeItem('timeLeft-4')
                $storage.removeUniversal('isUpdated')
                $storage.removeUniversal('prev-path')
                $storage.removeUniversal('prev-room')
                $storage.removeUniversal('customer_tmp')
                $storage.removeUniversal('redirect_key')
                $storage.removeUniversal('is-view-guide3')
                $storage.removeUniversal('is-view-phong-bep')
                $storage.removeUniversal('is-view-guide4')
                $storage.removeUniversal('is-view-phong-khach')
                $storage.removeUniversal('is-view-guide2')
                $storage.removeUniversal('is-view-phong-ngu')
                $storage.removeUniversal('is-view-guide1')
                $storage.removeUniversal('is-view-phong-tam')
                $storage.removeUniversal('is_view_character')

                if (
                  $auth.user.actor_name === null &&
                  $auth.user.gender === null
                ) {
                  window.location.href = '/chon-nhan-vat'
                }
              }
            }
            currentLevel.value = res.data?.data.record.level_id
            if (
              currentLevel.value === 4 &&
              res.data?.data.record.is_done === 1
            ) {
              isLevel4Done.value = true
            }
            gender.value = $auth.user.gender

            store.commit('customer/SET_LEVEL', res.data?.data.record.level_id)
            // store.commit('customer/SET_COINS', res.data?.data.record.coins_after_play)
          }
        })
      } else if ($storage.getUniversal('customer_tmp')) {
        const customerTmp =
          typeof $storage.getUniversal('customer_tmp') === 'string'
            ? JSON.parse($storage.getUniversal('customer_tmp'))
            : $storage.getUniversal('customer_tmp')

        if (customerTmp) {
          store.commit('customer/SET_LEVEL', customerTmp.level)
          // store.commit('customer/SET_COINS', customerTmp.coins)
          gender.value = customerTmp.gender ?? 1
        }
      }
    })

    return {
      currentLevel,
      isLevel4Done,
      gender,
    }
  },
})
</script>

<style lang="scss" scoped>
.wrap-content {
  display: flex;
  align-items: flex-end;
  max-width: 80%;
  margin: 0 auto;
}

.room-group {
  position: relative;
  max-width: 100%;
}

.room-character {
  position: absolute;
  bottom: 0;
  right: 9%;
  width: 14%;

  .character {
    margin-bottom: -40%;
  }
}

.list-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .button {
    position: absolute;
    max-width: 32%;
    margin: 0 auto;
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;

    .btn-img-unlocked {
      opacity: 0;
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }

    &.unlock {
      opacity: 1;
      height: auto;
      visibility: visible;
      overflow: visible;
    }

    &.unlocked {
      opacity: 1;
      height: auto;
      visibility: visible;
      overflow: visible;
      .btn-img-unlocked {
        opacity: 1;
        height: auto;
        visibility: visible;
        overflow: visible;
      }
      .btn-img,
      .btn-img-shadow {
        opacity: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
      }
    }

    &.btn-living-room {
      bottom: 17%;
      right: 21%;
    }

    &.btn-kitchen {
      bottom: 17%;
      left: 10%;
    }

    &.btn-bed-room {
      top: 21%;
      left: 28%;
    }

    &.btn-bath-room {
      top: 21%;
      right: 4%;
    }
  }
}

.list-room {
  position: relative;
  max-width: 100%;

  .room-item {
    position: relative;
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;

    &.unlock {
      position: relative;
      opacity: 1;
      height: auto;
      visibility: visible;
      overflow: visible;
    }
  }
}
</style>
