<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="dataTableState.items"
      :options.sync="dataTableState.options"
      :server-items-length="dataTableState.total"
      :footer-props="dataTableState.footerProps"
      class="elevation-1"
      width="100%"
    >
      <template #[`item.meta_data`]="{ item }">
        <template v-for="(detail, i) in item.meta_data">
          <div :key="i">{{detail}}</div>
        </template>
      </template>
    </v-data-table>
    <v-dialog v-model="flag" persistent max-width="600">
      <v-card>
        <v-card class="pa-5" elevation="1">
          <v-card-text class="pt-6 px-2">
            <v-row justify="start" align="center">
              <v-col cols="12">
                <v-row>
                  <v-col class="py-0" cols="12">
                    <v-select
                      v-model="dataTableState.search.level_id"
                      label="Level"
                      :items="levels"
                      hide-details
                      clearable
                      outlined
                      dense
                    >
                    </v-select>
                  </v-col>
                  <v-col class="" cols="12">
                    <v-text-field
                      v-model="dataTableState.search.customer_name"
                      label="Customer Name"
                      hide-details
                      clearable
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="flag = false"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="search()"> Search </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <SpeedDial @activeModalSearch="activeModalSearch" />
  </div>
</template>

<script>
import { ref, useAsync, useContext } from '@nuxtjs/composition-api'
import SpeedDial from '@/components/layouts/default/SpeedDial.vue'

import useDataTable from '@/composables/use-data-table.js'
export default {
  components: {
    SpeedDial,
  },
  setup() {
    const { $axios } = useContext()
    const loading = ref(false)
    const headers = ref([
      { text: 'ID', value: 'id', sortable: true },
      { text: 'Customer Name', value: 'customers.name', sortable: true },
      { text: 'Level Name', value: 'levels.name', sortable: true },
      { text: 'Detail', value: 'meta_data', sortable: false },
      { text: 'Coins Before Play', value: 'coins_berore_play', sortable: true },
      { text: 'Coins After Play', value: 'coins_after_play', sortable: true },
      { text: 'Time', value: 'times', sortable: true },
      { text: 'Is Done', value: 'is_done', sortable: true },
      { text: 'Solution', value: 'solution', sortable: false },
      { text: 'IP', value: 'ip', sortable: false },
    ])

    const flag = ref(false)

    const levels = ref([])

    useAsync(async () => {
      levels.value = await $axios
        .get(`admin/selection/levels`)
        .then(({ data }) => data)
    })

    const activeModalSearch = () => {
      flag.value = !flag.value
    }

    const resource = '/admin/games'

    const {
      state: dataTableState,
      dataOptionsHandler,
      search,
      // csvDownload,
    } = useDataTable(resource)

    // dataTableState.

    return {
      headers,
      loading,
      dataTableState,
      dataOptionsHandler,
      search,
      levels,
      flag,
      activeModalSearch,
      // csvDownload
    }
  },
}
</script>
