<template>
  <v-sheet class="fill-height d-flex justify-center full-page open-popup">
    <v-sheet class="popup">
      <v-img
        :src="require('~/assets/images/popups/popup-bxh.png')"
        contain
      ></v-img>

      <v-sheet class="close-modal">
        <v-img
          :src="require('~/assets/images/buttons/btn-close.png')"
          contain
          class="btn-close"
          @click="$emit('closeModal', false)"
        ></v-img>
      </v-sheet>

      <v-sheet class="table-list">
        <v-sheet class="thead">
          <v-sheet class="row d-flex">
            <v-sheet class="th"> Hạng </v-sheet>
            <v-sheet class="th"> Tên nhân vật </v-sheet>
            <v-sheet class="th"> Email </v-sheet>
            <v-sheet class="th"> Thời gian hoàn thành </v-sheet>
          </v-sheet>
        </v-sheet>
        <v-sheet class="tbody">
          <v-sheet v-for="(item, i) in customers" :key="item.name" class="row d-flex">
            <v-sheet class="td">
              <v-img
                :src="require(`~/assets/images/buttons/${i < 10 ? 'btn-places' : 'btn-places-silver'}.png`)"
                contain
                class="places"
              >
                <span class="number" :class="i < 10 ? 'bg-number-gold' : 'bg-number-silver'">{{ i+1 }}</span>
              </v-img>
            </v-sheet>
            <v-sheet class="td">{{ item.actor_name }}</v-sheet>
            <v-sheet class="td">{{ item.email }}</v-sheet>
            <v-sheet class="td">{{ item.times }}</v-sheet>
          </v-sheet>
        </v-sheet>
      </v-sheet>

      <v-sheet class="button">
        <nuxt-link to="/">
          <v-img
            :src="require('~/assets/images/buttons/btn-join.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/buttons/btn-join-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </nuxt-link>
      </v-sheet>
    </v-sheet>
  </v-sheet>
</template>

<script>
import {
  defineComponent,
  useAsync,
  useContext,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  layout: 'default-full',
  setup() {
    const { $axios } = useContext()

    const customers = ref([])
    useAsync(async () => {
      await $axios.get('/front/ranks').then((res) => {
        if (res.data?.code === 200) {
          customers.value = res.data?.data.customers
        }
      })
    })

    return {
      customers,
    }
  },
})
</script>

<style lang="scss" scoped>
.popup {
  max-width: 100%;
  @media screen and (min-width: 1440px) {
    max-width: 76%;
  }
}

.close-modal {
  max-width: 5%;
  position: absolute;
  top: 0.9%;
  right: 9%;
  cursor: pointer;
  @media screen and (min-width: 1440px) {
    top: 2.1%;
    right: 9%;
  }
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 32%;
  margin: 0 auto;
  bottom: -1%;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 28px;
  border: none;
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-image: url('~/assets/images/btn-scroll.png');
  background-size: contain;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
  background-image: url("https://i.imgur.com/GvV1R30.png");
  background-repeat: repeat-y;
  background-size: contain;
}
</style>
