<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <v-card class="wrap-content" flat>
      <v-sheet class="title mx-auto">
        <v-img
          :src="require('~/assets/images/update-info/success-content.png')"
          contain
        ></v-img>
      </v-sheet>
      <v-sheet class="button">
        <router-link to="/chon-phong">
          <v-img
            :src="require('~/assets/images/update-info/btn-next.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/update-info/btn-next-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </router-link>
      </v-sheet>
      <v-sheet class="bottom-image">
        <v-img
          :src="require('~/assets/images/update-info/card-20k.png')"
          contain
        ></v-img>
      </v-sheet>
    </v-card>
  </v-sheet>
</template>

<script>
import {defineComponent} from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
  },
})
</script>

<style lang="scss" scoped>
.full-page {
  background-image: url('~/assets/images/update-info/bg-info.png') !important;
  background-size: 100% 100% !important;
  max-height: 100%;
}

.wrap-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 40%;
  @media screen and (min-width: 1200px){
    max-width: 41.2%;
  }
  @media screen and (min-width: 1904px){
    max-width: 44.5%;
  }
}

.title {
  margin-bottom: 4%;
  max-width: 100%;
}

.button {
  max-width: 65%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
}
</style>
