#layout-auth {
  background-color: #ECF0F5;

  .v-card {
    .v-card__title {
      background-color: $app-bg;
      text-align: center;
      border-end-end-radius: 0;
      border-end-start-radius: 0;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
    }
  }
}