::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Vue-Toastification__toast{
  padding: 14px 10px !important;
  min-height: auto !important;
  .Vue-Toastification__toast-body{
    font-size: 12px;
  }
  .Vue-Toastification__progress-bar{
    height: 3px !important;
  }
}