#layout-default {
  background-color: $app-bg;

  .v-application--wrap {
    margin: 15px;

    .v-navigation-drawer {
      .v-list-item {
        &::before {
          border-bottom-left-radius: 32px !important;
          border-top-left-radius: 32px !important;
        }

        .v-list-item__title {
          font-size: 14px;
          font-weight: 600;
        }

        &.v-list-item--active {
          border-bottom-left-radius: 32px !important;
          border-top-left-radius: 32px !important;
          background-color: white !important;

          .v-list-item__icon i,
          .v-list-item__title {
            color: #1C3FAC;
          }
        }
      }
    }

    .v-main__wrap {
      padding: 10px 15px;

      .v-speed-dial--bottom {
        bottom: 48%;

        @media (max-width: 600px) {
          bottom: auto;
          top: 85px;
        }
      }

      .v-data-table {
        white-space: nowrap;

        @media (max-width: 767px) {
          box-shadow: none !important;
        }

        thead {
          span {
            color: #1C3FAC;
            font-size: 15px;
          }

          &.v-data-table-header-mobile {
            tr {
              th {
                border: 0 !important;

                .v-data-table-header-mobile__wrapper {
                  width: 85%;
                }
              }
            }
          }
        }

        .v-data-footer {
          @media (max-width: 767px) {
            border: 0;
            justify-content: center;

            .v-data-footer__pagination {
              display: none;
            }

            .v-data-footer__select {
              margin-left: unset;
            }
          }
        }
      }
    }
  }
}