<template>
  <v-sheet class="fill-height d-flex justify-center full-page">
    <Header :is-rank="true"></Header>
    <v-sheet class="wrapper-align">
      <v-sheet class="wrap-congratulation">
        <v-sheet class="wrap-congratulation__visual">
          <v-img
            :src="require('~/assets/images/congratulation/bg-visual.png')"
            class="bg"
          />
          <v-img
            :src="require('~/assets/images/congratulation/img-visual.png')"
          />
        </v-sheet>
        <p>
          Nên kết hợp các giải pháp khác nhau nhằm tăng cường đối lưu không khí
          trong nhà.
          <br/>Qua đó chất lượng không khí được cải thiện, sức khoẻ sẽ trở nên
          tốt hơn.
        </p>
        <v-img
          :src="require('~/assets/images/congratulation/img-button.png')"
          max-width="900"
          class="img-btn mr-auto ml-auto"
          aspect-ratio="3"
        />

        <v-sheet class="box">
          <p class="box-title">CHÚC MỪNG</p>
          <p>{{$auth.user.actor_name.split(' ').slice(-2).join(' ')}}, Thời gian hoàn thành</p>
          <v-img
            :src="require('~/assets/images/congratulation/bg-timer.png')"
            aspect-ratio="2.52"
            max-width="194"
            class="timer"
          >
            <v-sheet class="timer-text"> <strong>{{$auth.user.times}}</strong> s </v-sheet>
          </v-img>
          <v-sheet class="button" @click="playAgain">
            <v-img
            v-if="isPlayAgain"
              :src="require('~/assets/images/congratulation/btn-play-again.png')"
              contain
              class="btn-img"
            ></v-img>
            <v-img
            v-if="isPlayAgain"
              :src="require('~/assets/images/congratulation/btn-play-again-shadow.png')"
              contain
              class="btn-img-shadow"
            ></v-img>
          </v-sheet>
          <v-img
            :src="require(`~/assets/images/congratulation/user-body${ $auth.user.gender === 1 ? '' : '-girl'}.png`)"
            class="user"
            aspect-ratio="0.58"
          />
        </v-sheet>
      </v-sheet>
    </v-sheet>
  </v-sheet>

  <!-- <v-sheet class="wrap-content">
      <v-img
        :src="require('~/assets/images/welcome/welcome-game.png')"
        contain
      ></v-img>
      <v-sheet class="button">
        <nuxt-link :to="prevRoom">
          <v-img
            :src="require('~/assets/images/welcome/cta.png')"
            contain
            class="btn-img"
          ></v-img>
          <v-img
            :src="require('~/assets/images/welcome/cta-shadow.png')"
            contain
            class="btn-img-shadow"
          ></v-img>
        </nuxt-link>
      </v-sheet>
    </v-sheet>

    <v-sheet class="user-bottom">
      <v-img
        :src="require('~/assets/images/welcome/user-boy.png')"
        contain
      ></v-img>
    </v-sheet> -->
</template>

<script>
import {
  defineComponent,
  useContext,
  onMounted,
  useAsync,
  ref,
} from '@nuxtjs/composition-api'

export default defineComponent({
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      // vm.$storage.setUniversal('prev-room', from.path)
    })
  },
  layout: 'default-full',
  setup() {
    const {$storage, $axios, redirect} = useContext()
    // if ($storage.getUniversal('is_view_welcome')) {
    //   redirect('/chon-phong')
    // } else if($auth.user) {
    //   redirect('/chon-nhan-vat')
    // }

    // $storage.setUniversal('is_view_welcome', 1)

    const isPlayAgain = ref(true)

    useAsync(async() => {
       await $axios.get('/front/customer').then((res) => {
        if (res.data?.code === 200) {
          isPlayAgain.value = res.data?.data.customer.ranks.length < 2
        }
      })
    })

    const prevRoom = ref('chon-phong')

    onMounted(() => {
      prevRoom.value = $storage.getUniversal('prev-room')
        ? $storage.getUniversal('prev-room')
        : 'chon-phong'
      $storage.removeUniversal('prev-room')
    })

    const playAgain = async () => {
      await $axios.get('/front/play-again').then((res) => {
        if (res.data?.code === 200) {
          if(process.client) {
            localStorage.removeItem('timeLeft-1')
            localStorage.removeItem('timeLeft-2')
            localStorage.removeItem('timeLeft-3')
            localStorage.removeItem('timeLeft-4')
            $storage.removeUniversal('isUpdated')
            $storage.removeUniversal('prev-path')
            $storage.removeUniversal('prev-room')
            $storage.removeUniversal('customer_tmp')
            $storage.removeUniversal('redirect_key')
            $storage.removeUniversal('is-view-guide3')
            $storage.removeUniversal('is-view-phong-bep')
            $storage.removeUniversal('is-view-guide4')
            $storage.removeUniversal('is-view-phong-khach')
            $storage.removeUniversal('is-view-guide2')
            $storage.removeUniversal('is-view-phong-ngu')
            $storage.removeUniversal('is-view-guide1')
            $storage.removeUniversal('is-view-phong-tam')
          }
          redirect('/chon-phong')
        }
      })
    }

    return {
      prevRoom,
      playAgain,
      isPlayAgain
    }
  },
})
</script>

<style lang="scss" scoped>
.wrapper-align {
  display: flex;
  align-items: center;
  width: 100%;
}
.wrap-congratulation {
  max-width: 40%;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 17%;
  margin-top: 3%;
  @media screen and (min-width: 1800px) {
    max-width: 45%;
  }

  .wrap-congratulation__visual {
    position: relative;
    width: 100%;

    .bg {
      width: 224%;
      max-width: 2300px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .button {
    max-width: 50%;
    margin: 3% auto 0;
  }

  .img-btn {
    width: 80%;
  }

  .user {
    max-width: 47%;
    margin: 5% auto 0;
    @media screen and (min-width: 1800px) {
      max-width: 56%;
    }
  }

  .box {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    bottom: -13%;
    right: 100%;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

    p {
      margin: 0;
    }
  }

  .box-title {
    font-size: 90px;
    line-height: 1.2;
    text-shadow: 0 5px 1px #007eff;
  }

  .timer {
    margin: 10px auto 0;
  }

  .timer-text {
    font-family: 'LCD AT&T Phone Time/Date', sans-serif;
    color: #fff;
    font-size: 23px;
    padding: 4% 0 0 13%;

    strong {
      font-size: 2em;
    }
  }

  @media all and (max-width: 1800px) {
    font-size: 20px;
    .box {
      font-size: 18px;
    }

    .box-title {
      font-size: 70px;
    }
  }

  @media all and (max-width: 1440px) {
    font-size: 14px;

    .box {
      font-size: 16px;
    }

    .box-title {
      font-size: 60px;
    }

    .timer {
      width: 126px;
    }

    .timer-text {
      font-size: 15px;
    }
  }

  @media all and (max-width: 1024px) {
    font-size: 14px;

    .box-title {
      font-size: 52px;
    }
  }

  @media all and (max-width: 960px) {
    .box {
      font-size: 14px;
    }
    .box-title {
      font-size: 38px;
    }
  }

  @media all and (max-width: 768px) {
    margin-right: 13%;
    .box {
      right: 95%;
      width: 240px;
      white-space: normal;
    }
    .box-title {
      font-size: 23px;
    }

    .timer {
      width: 100px;
    }

    .timer-text {
      font-size: 12px;
    }

    .button {
      max-width: 30%;
    }

    .user {
      max-width: 50%;
    }
  }
}
</style>